//Normally used for display/hero
#primary {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  
  .hale-heading-xxl {
    font-size: 68px;
    font-size: 4.25rem;
    line-height: 120%;

    @include govuk-media-query($from: tablet) {
      font-size: 76px;
      font-size: 4.75rem;
    }
  }

  //Normally used for H1
  h1:not([class]),
  h1.wp-block-heading,
  .hale-heading-xl {
    @extend .govuk-heading-xl;
  }

  //Normally used for H2
  h2:not([class]),
  h2.wp-block-heading,
  .hale-heading-l {
    @extend .govuk-heading-l;
  }

  //Normally used for H3
  h3:not([class]),
  h3.wp-block-heading,
  .hale-heading-m {
    @extend .govuk-heading-m;
  }

  //Normally used for H4
  h4:not([class]),
  h5:not([class]),
  h6:not([class]),
  h4.wp-block-heading,
  h5.wp-block-heading,
  h6.wp-block-heading,
  .hale-heading-s {
    @extend .govuk-heading-s;
  }

  h1,h2,h3,h4 {
    &.has-huge-font-size {
      @include govuk-font-size($size: 48);
    }
    &.has-large-font-size {
      @include govuk-font-size($size: 36);
    }
    &.has-medium-font-size {
      @include govuk-font-size($size: 24);
    }
    &.has-small-font-size {
      @include govuk-font-size($size: 19);
    }
  }

  .has-huge-font-size {
    @include govuk-font-size($size: 36);
  }
  .has-large-font-size {
    @include govuk-font-size($size: 24);
  }
  .has-medium-font-size {
    @include govuk-font-size($size: 19);
  }
  .has-small-font-size {
    @include govuk-font-size($size: 16);
  }

  p:not([class|="govuk"]) {
    @include govuk-font-size($size: 19);
  }

  .mojblocks-hero {
     h1 {
       @extend .govuk-heading-l;
     }
  }

  .intro, .intro p {
    @include govuk-font-size($size: 24);
  }
}
