$color_nhsuk-white        : #ffffff;
$color_nhsuk-black        : #000000;
$color_nhsuk-blue         : #005eb8;
$color_nhsuk-purple       : #330072;
$color_nhsuk-red          : #d5281b;
$color_nhsuk-aqua-green   : #00a499;
$color_nhsuk-bright-blue  : #0072ce;
$color_nhsuk-light-blue   : #41b6e6;
$color_nhsuk-mid-grey     : #768692;
$color_nhsuk-light-grey   : #e8edee;
$color_nhsuk-dark-grey    : #425563;
$color_nhsuk-pink         : #ae2573;
$color_nhsuk-light-purple : #704c9c;
$color_nhsuk-light-green  : #78be20;
$color_nhsuk-dark-green   : #006747;
$color_gds_black          : #0b0c0c;
$color_magi_teal          : #336C83;
$color_dark-blue          : #0C223F;
$color_light_teal         : #00a19a;

$page-colours             : (
  'nhs-blue' : $color_nhsuk-blue,
  'dark-blue' : $color_dark-blue,
  'bright-blue' : $color_nhsuk-bright-blue,
  'mid-grey' : $color_nhsuk-mid-grey,
  'dark-grey' : $color-nhsuk-dark-grey,
  'black' : $color_nhsuk-black,
  'purple' : $color-nhsuk-purple,
  'pink' : $color_nhsuk-pink,
  'light-purple' : $color_nhsuk-light-purple,
  'emergency-services-red' : $color_nhsuk-red,
  'dark-green' : $color_nhsuk-dark-green,
  'light-green' : $color_nhsuk-light-green,
  'aqua-green' : $color_nhsuk-aqua-green,
  'gds-black' : $color_gds_black,
  'magistrates-teal' : $color_magi_teal,
  'light-teal' : $color_light_teal,
);

@each $name,
$colour in $page-colours {

  .page-header-color--#{$name} {

    .page-header {
      background: rgba($colour, 0.1);

      .category-pages-nav {
        li {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0.375C18.4219 0.375 23.625 5.57812 23.625 12C23.625 18.4219 18.4219 23.625 12 23.625C5.57813 23.625 0.375 18.4219 0.375 12C0.375 5.57812 5.57813 0.375 12 0.375ZM17.3391 11.2031L10.9875 4.85156C10.5469 4.41094 9.83438 4.41094 9.39844 4.85156L8.60156 5.64844C8.16094 6.08906 8.16094 6.80156 8.60156 7.2375L13.3641 12L8.60156 16.7625C8.16094 17.2031 8.16094 17.9156 8.60156 18.3516L9.39844 19.1484C9.83906 19.5891 10.5516 19.5891 10.9875 19.1484L17.3391 12.7969C17.7797 12.3562 17.7797 11.6438 17.3391 11.2031Z' fill='" + $colour + "'/%3E%3C/svg%3E%0A");
        }
      }
    }

    .category-page-pagination {

      .category-page-pagination-next {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0.4375C21.4922 0.4375 27.5625 6.50781 27.5625 14C27.5625 21.4922 21.4922 27.5625 14 27.5625C6.50781 27.5625 0.4375 21.4922 0.4375 14C0.4375 6.50781 6.50781 0.4375 14 0.4375ZM20.2289 13.0703L12.8187 5.66016C12.3047 5.14609 11.4734 5.14609 10.9648 5.66016L10.0352 6.58984C9.52109 7.10391 9.52109 7.93516 10.0352 8.44375L15.5914 14L10.0352 19.5562C9.52109 20.0703 9.52109 20.9016 10.0352 21.4102L10.9648 22.3398C11.4789 22.8539 12.3102 22.8539 12.8187 22.3398L20.2289 14.9297C20.743 14.4156 20.743 13.5844 20.2289 13.0703Z' fill='" + $colour + "'/%3E%3C/svg%3E%0A");
      }

      .category-page-pagination-prev {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 27.5625C6.50781 27.5625 0.4375 21.4922 0.4375 14C0.4375 6.50781 6.50781 0.4375 14 0.4375C21.4922 0.4375 27.5625 6.50781 27.5625 14C27.5625 21.4922 21.4922 27.5625 14 27.5625ZM7.77109 14.9297L15.1813 22.3398C15.6953 22.8539 16.5266 22.8539 17.0352 22.3398L17.9648 21.4102C18.4789 20.8961 18.4789 20.0648 17.9648 19.5562L12.4086 14L17.9648 8.44375C18.4789 7.92969 18.4789 7.09844 17.9648 6.58984L17.0352 5.66016C16.5211 5.14609 15.6898 5.14609 15.1813 5.66016L7.77109 13.0703C7.25703 13.5844 7.25703 14.4156 7.77109 14.9297Z' fill='" + $colour + "'/%3E%3C/svg%3E");
      }
    }

  }

  .page-colour--#{$name},
  #content .page-style--#{$name} {

    .nhsuk-footer,
    #secondary section {
      border-top-color: $colour;
    }

    .nhsuk-header,
    .nhsuk-header--white .nhsuk-search__submit,
    #secondary section h2.widget-title,
    .nhsuk-panel-with-label__label,
    #secondary section #wp-calendar caption,
    #secondary section h2.widget-title,
    .nhsuk-panel-with-label__label,
    #secondary section #wp-calendar caption,
    .nhsuk-do-dont-list__label,
    .nhsuk-care-card.is-style-default .nhsuk-care-card__heading-container,
    .nhsuk-hero--image-description .nhsuk-hero-content,
    .nhsuk-panel-with-label__label,
    .nhsuk-panel.is-style-panel-with-label h3,
    .nhsuk-panel.is-style-panel-with-label h3 .rich-text {
      background-color: $colour;
      background: $colour;
      color: $color_nhsuk-white;
    }

    .nhsuk-details__summary,
    .nhsuk-details__summary-text,
    .nhsuk-promo__heading {
      color: $colour;
    }

    a.nhsuk-button {
      color: $color_nhsuk-white;
    }

    a.nhsuk-button--reverse {
      color: $color_nhsuk-black;
    }

    .nhsuk-inset-text,
    .is-style-default .nhsuk-care-card__arrow:before,
    .is-style-default .nhsuk-care-card__arrow:after,
    .nhsuk-hero--image-description .nhsuk-hero-content .nhsuk-hero__arrow:before,
    .nhsuk-hero--image-description .nhsuk-hero-content .nhsuk-hero__arrow:after,
    #secondary section {
      border-color: $colour;
    }

    .navigation .nhsuk-pagination ul.nhsuk-pagination__list li.nhsuk-pagination-item--next a .nhsuk-icon,
    .navigation .nhsuk-pagination ul.nhsuk-pagination__list li.nhsuk-pagination-item--previous a .nhsuk-icon,
    .nhsuk-pagination__link .nhsuk-icon {
      fill: $colour;
    }

    .nhsuk-header__navigation ul li,
    .nhsuk-header__navigation-link {
      border-bottom: 4px solid $colour;
    }


    .nhsuk-header__navigation ul li:hover,
    .nhsuk-header__navigation-link {
      border-bottom: 4px solid $color_nhsuk-aqua-green;
    }

    @media (min-width : 40.0625em) {

      .nhsuk-icon__search {
        fill: $colour;
      }

      .nhsuk-header__search-wrap {
        background-color: $colour;
        background: $colour;
      }
    }

    #secondary section ul>li>ul>li>a {
      border-left: 2px solid $colour;
    }

    .gform_wrapper {
      .gf_progressbar_wrapper {
        .gf_progressbar {
          .gf_progressbar_percentage {
            background-color: $colour;
          }
        }
      }
    }
  }

  .page-colour--#{$name} {
    .nhsuk-header {
      .nhsuk-header__navigation {
        background: $colour;
      }

      .nhsuk-header__navigation-link:hover,
      .nhsuk-header__navigation ul li a:hover,
      .nhsuk-search__submit:hover {
        background-color: #B6BDC5;
        background: #B6BDC5;
        color:  $colour;
        text-decoration: none;
      }

      .nhsuk-header__menu-toggle:focus,
      .nhsuk-header__menu-toggle:hover,
      .nhsuk-header__menu-toggle.is-active,
      .nhsuk-header__menu-toggle:active,
      .nhsuk-header__search-toggle:hover,
      .nhsuk-header__search-toggle:focus,
      .nhsuk-header__search-toggle.is-active,
      .nhsuk-header__search-toggle:active {
        background-color: $colour;
        background: $colour;
        color: #ffffff;
      }

      &.nhsuk-header--white {
        background-color: #ffffff;
        color: $colour;

        a.nhsuk-header__transactional-service-name--link {
          color: $colour;
        }

        .nhsuk-header__menu-toggle {
          background-color: #ffffff;
          background: #ffffff;
          color: $colour;
        }

        .nhsuk-header__menu-toggle.is-active,
        .nhsuk-header__menu-toggle:active,
        .nhsuk-header__search-toggle.is-active,
        .nhsuk-header__search-toggle:active {
          color: #ffffff;
        }


        .nhsuk-header__menu {
          .nhsuk-header__menu-toggle {
            border-color: $colour;
            color: $colour;
          }
        }

        .nhsuk-header__search-toggle {
          border-color: $colour;
          color: $colour;

          .nhsuk-icon__search {
            fill: #B6BDC5;
          }
        }

        .nhsuk-header__search-toggle.is_active {
          background-color: $colour;
        }
      }

      .nhsuk-icon__close {
        fill: #B6BDC5;

        &:hover {
          fill: #B6BDC5;
        }
      }

      @media (max-width : 989px) {

        .nhsuk-header__navigation {
          border-bottom: 0px solid #f0f4f5;
          border-top: 0px solid #f0f4f5;
        }

        .nhsuk-header__navigation ul li,
        .nhsuk-header__navigation-item {
          border-top: 0;
          border-bottom: 1px solid #B6BDC5;
        }

        .nhsuk-header__search-form {
          background-color: $colour;
          background: $colour;
        }

        .nhsuk-header__navigation ul li a,
        .nhsuk-header__navigation-link {
          color: #B6BDC5;
          background-color: $colour;
          background: $colour;
        }

        .nhsuk-header__navigation,
        .nhsuk-header__navigation-link:hover,
        .nhsuk-header .nhsuk-header__navigation ul li a:hover {
          background-color: $colour;
          background: $colour;
          color:  #B6BDC5;
          text-decoration: none;
        }
      }
    }
  }
}
