.archive-list-item {
    border-bottom: 1px solid $govuk-border-colour;
    margin-bottom: 20px;

    &__title {
        margin-top: 15px;
    }

    &:last-child {
        border-bottom: none;
    }

    .archive-item-detail {
        @include govuk-font-size(19);
        margin-bottom: 20px;

        .archive-item-detail-label {
            font-weight: bold;
            display: inline-block;
            margin-right: 5px;
        }

        .archive-published-date {
            margin-bottom: 1rem;
        }
    }
}