.emergency-banner {
  padding: 2rem 3rem 3rem;
  border-bottom: 2px solid govuk-colour("light-grey");;

  &-link {
    @extend .govuk-header__link;
    text-decoration: underline;
  }
  &--national-emergency {
    background-color: govuk-colour("red");
    color: govuk-colour("white");
  }
  &--local-emergency {
    background-color: govuk-colour("turquoise");
    color: govuk-colour("white");
  }
  &--mourning {
    background-color: govuk-colour("black");
    color: govuk-colour("white");
  }
  &__width-restriction {
    max-width: $govuk-page-width;
    margin:0 auto;
  }
  &__title {
    @extend .govuk-\!-font-size-48;

    font-weight: bold;
    padding-bottom: 2rem;
  }
  &__subtext {
    padding-bottom: 2rem;
  }
}

.js-enabled .info-banner {
  display:none; // removed by JavaScript
}
.info-banner {
  background-color: #d5e8f3; // Not in the GDS palette, but this is the government style from https://docs.publishing.service.gov.uk/manual/global-banner.html
  padding: 0.5rem 3rem;
  margin-bottom: 0.3rem;
  font-size: 1.25rem;

  &__width-restriction {
    max-width: $govuk-page-width;
    margin:0 auto;
  }

  &__content {
    max-width: calc(100% - 150px);
    display: inline-block;
  }

  &__title,
  &__summary {
    font-size: 1.25rem;
    padding-right: 1rem;
    display: inline
  }

  &__close {
    float:right;
  }
}
