.nightingale-banner__container {
	padding: 20px 0;

	.nhsuk-grid-column-two-thirds {
		@include mq($from: tablet) {
			@include nhsuk-responsive-padding(0);
		}
	}
	.nightingale-banner__title {
		margin-bottom: 18px;

		@include mq($from: tablet) {
			margin-bottom: 0;
			line-height: 100%;
		}
	}

	.nightingale-banner__link {

		@include mq($from: tablet) {
			float: right;
		}
	}
	
	.yellow-button {
		background: $color_sunflower_yellow;
		color: $color_charcoal-black;
		padding: 6px 12px;
		font-weight: bold;
		text-decoration: none;
		font-size: 22px;
		font-size: 1.375rem;
		display: block;
		text-align: center;
		border-radius: 5px;

		@include mq($from: tablet) {
			font-size: 25px;
			font-size: 1.5rem;
			margin-top: 7px;
			text-align: left;
			padding: 3px 12px;
		}

    &:visited {
      color: $color_charcoal-black;
      text-decoration: none;
    }

    &:hover, &:active, &:focus {
      background: $color_charcoal-black;
      color: $color_snow_white;
      box-shadow: none;
    }
	}
}
/* end of banner.scss include */
