@import 'page-colours';

*{
	@include branding($brandings, $gutenberg-styles) {

    .govuk-link,
    a,
    a:not([class]) {

      color: branded(link);

      &:hover {
        color: branded(link-hover);
      }

      &:focus {
        color: branded(link-focus);
        background-color: branded(link-focus-background);
        box-shadow: 0 -2px branded(link-focus-background), 0 4px branded(link-focus-shadow);
        outline: 4px solid transparent;
      }
    }


	}
}
