@import 'page-colours';

*{
  .govuk-link,
  a,
  a:not([class]) {

    color: var(--link);

    &:hover {
      color: var(--link-hover);
    }

    &:focus {
      color: var(--link-focus);
      background-color: var(--link-focus-background);
      box-shadow: 0 -2px var(--link-focus-background), 0 4px var(--link-focus-shadow);
      outline: 4px solid transparent;
    }
  }
}
