@import 'user-colour-palette';

//mixins
@mixin hale-heading-link-underline-restrictor($colour, $width: 1024px) {
	@include govuk-media-query($from: $width) {
		position:relative;

		&:before {
			content:"";
			border-right:15px solid var($colour);
			border-left:15px solid var($colour);
		}
	}
}

// This Mixin adds the style which cancels out the text colour should a different block of a different colour be inside it.
// However, it will break down if a different block of the same colour be insude it - in such cases, the text colour might need to be manually set.
@mixin hale-block-inside-block($paletteColour, $colour, $hoverColour: "") {
	@if $hoverColour == "" { //not link
		&:not(.#{$paletteColour} .has-background *):not(.#{$paletteColour} .has-background):not(.has-text-color *):not(.has-text-color) {
			color: $colour;
		}
	} @else {
		&:not(.#{$paletteColour} .has-background *):not(.#{$paletteColour} .has-background):not(:focus) {
			color: $colour;

			&:hover {
				color: $colour;
			}
		}
	}
}

// Used for custom backgrounds - the two dark greyscale colours (black and dark grey)
@mixin hale-custom-shading-text-colours($paletteColour) {
	.#{$paletteColour} {
		.govuk-link:link,
		.govuk-link:visited,
		a:link:not([class]),
		a:visited:not([class]),
		a[class="customize-unpreviewable"], // for wordpress customizer
		.gem-c-pagination__link:link,
		.gem-c-pagination__link:visited {
			@include hale-block-inside-block($paletteColour,var(--dark-link), var(--dark-link-hover));
		}
		&:is(p),
		p,
		li,
		label {
			@include hale-block-inside-block($paletteColour,var(--dark-text));
		}
		h1, h2, h3, h4, h5, h6,
		&:is(h1, h2, h3, h4, h5, h6) {
			@include hale-block-inside-block($paletteColour,var(--dark-heading-text));
		}
	}
}
//branding colours and styles

/**********************
	Common styles
	All brandings
**********************/

//space out menu for all brandings
.js-enabled .govuk-header,
.govuk-header {
	@include govuk-media-query($from: desktop) {
		padding-bottom: 0;

		.govuk-header__navigation-list {
			display: flex;
			justify-content: space-between;

			li {
				padding:0;
			}
		}
	}
}
//remove gap at top of page
.govuk-main-wrapper {
	padding-top:0;
}


/***
* These styles are applied to all sites
*/
* {
	main,
	.edit-post-visual-editor__content-area {
		p,
		p:not([class]),
		p[class=""],
		li,
		label {
			// We do not apply this style if there is a custom colour set
			&:not(.has-text-color *):not(.has-text-color) {
				color:var(--text);
			}
		}

		h1, h2, h3, h4, h5, h6 {
			// We do not apply this style if there is a custom colour set
			&:not(.has-text-color *):not(.has-text-color) {
				color:var(--heading-text);
			}
		}
	}

	//style WP button block as GDS button
	.wp-block-button__link:not(.govuk-button) {
		@extend .govuk-button;
	}

	//search page only style (affects search in header but not adversely so
	.hale-search__input {
		margin-bottom: 30px;

		&:focus::placeholder {
			color:currentColor; // ensuring sufficient contrast against the focus background
		}
	}

	.govuk-header {

		background: var(--header-bg);
		margin-bottom: 10px;
		border-bottom-width: 0;

		&__logo {
			min-height: 49px;
		}

		.govuk-header__logotype {
			color: var(--header-link);
		}
		.govuk-header__link:focus .govuk-header__logotype {
			color: var(--header-link-focus);
		}

		.govuk-header__link:focus {
			background-color: var(--link-focus-background);
			box-shadow: 0px -2px var(--link-focus-background), 0px 4px var(--link-focus-shadow);
			outline: transparent solid 4px;
		}

		.hale-header__search-form {

			&.hale-search-invisible-contrast-correction {
				// These styles are to prevent false-positives with the automated colour contrast checkers,
				// (although the text is hidden so contrast is irrelivent).

				.hale-search__hidden-search-label {
					// header-link will contrast with the header background so should pass
					color: var(--header-link);
				}
				.hale-search__button-text {
					// header-search-btn-icon will contrast with the button background so should pass
					color: var(--header-search-btn-icon);
				}
			}

			.hale-search__input {
				border: 1px solid var(--header-search-input-border);
				background: var(--header-search-input-bg);

				&:focus {
					border: none;
					outline: 3px solid var(--header-search-input-focus-border);
					background: var(--header-search-input-focus-bg);
					box-shadow: none;
				}

				&:active {
					border: 1px solid var(--header-search-input-active-border);
					outline: 2px solid var(--header-search-input-active-border);
					background: var(--header-search-input-active-bg);
				}
			}

			.hale-search__submit {
				background: var(--header-search-btn-bg);
				box-shadow: 0 1px 0 0 var(--header-search-btn-bg);

				svg {
					fill: var(--header-search-btn-icon);
				}

				&:hover {
					background: var(--header-search-btn-hover-bg);
					box-shadow: 0 1px 0 0 var(--header-search-btn-hover-bg);

					svg {
						fill: var(--header-search-btn-hover-icon);
					}
				}

				&:focus, &:active {
					background: var(--header-search-btn-focus-bg);
					box-shadow: 0 1px 0 0 var(--header-search-btn-focus-bg);

					svg {
						fill: var(--header-search-btn-focus-icon);
					}
				}

				&:focus:not(:active):not(:hover) {
					background: var(--header-search-btn-focus-bg);
					box-shadow: 0 0 0 3px var(--button-focus-outline);
				}
			}
		}

		.hale-header__search .hale-header__mobile-controls--search {
			// SVG declared as background image in brandings-svg--php-used.scss
			// background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2 0 28 28' aria-hidden='true'%3E%3Cpath d='M19.71 18.29l-4.11-4.1a7 7 0 10-1.41 1.41l4.1 4.11a1 1 0 001.42 0 1 1 0 000-1.42zM5 10a5 5 0 115 5 5 5 0 01-5-5z' fill='"+ var(--header-link-svg) + "'/%3E%3C/svg%3E");

			&:not(:hover):focus {
				color: var(--header-link-focus);
				background-color: var(--header-link-focus-highlight);
				border-bottom-color: var(--header-link-focus-underline);
			    box-shadow: 0 -2px var(--header-link-focus-highlight), 0 4px var(--header-link-focus-underline);
				// SVG declared as background image in brandings-svg--php-used.scss
				// background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2 0 28 28' aria-hidden='true'%3E%3Cpath d='M19.71 18.29l-4.11-4.1a7 7 0 10-1.41 1.41l4.1 4.11a1 1 0 001.42 0 1 1 0 000-1.42zM5 10a5 5 0 115 5 5 5 0 01-5-5z' fill='"+ var(--header-link-focus-svg) + "'/%3E%3C/svg%3E");
			}
		}

		.govuk-header__menu-button {
			//extended into .hale-header__mobile-controls--search too
			color: var(--header-link);
			// SVG declared as background image in brandings-svg--php-used.scss
			// background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.857 3.844h22.286A.856.856 0 0024 2.99V.854A.856.856 0 0023.143 0H.857A.856.856 0 000 .854V2.99c0 .472.384.854.857.854zm0 8.543h22.286a.856.856 0 00.857-.854V9.397a.856.856 0 00-.857-.854H.857A.856.856 0 000 9.397v2.136c0 .472.384.854.857.854zm0 8.543h22.286a.856.856 0 00.857-.854V17.94a.856.856 0 00-.857-.854H.857A.856.856 0 000 17.94v2.136c0 .472.384.854.857.854z' fill='"+ var(--header-link-svg) + "'/%3E%3C/svg%3E");

			&[aria-expanded=true] {
				background-position-y: -7px;
				// SVG declared as background image in brandings-svg--php-used.scss
				// background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath d='M13.41 12l5.3-5.29a1 1 0 10-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 00-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 000 1.42 1 1 0 001.42 0l5.29-5.3 5.29 5.3a1 1 0 001.42 0 1 1 0 000-1.42z' fill='" + var(--header-link-svg) + "'/%3E%3C/svg%3E");

				&:not(:hover):focus {
					// SVG declared as background image in brandings-svg--php-used.scss
					// background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath d='M13.41 12l5.3-5.29a1 1 0 10-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 00-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 000 1.42 1 1 0 001.42 0l5.29-5.3 5.29 5.3a1 1 0 001.42 0 1 1 0 000-1.42z' fill='" + var(--header-link-focus-svg) + "'/%3E%3C/svg%3E");
				}
			}

			&:not(:hover):focus {
				color: var(--header-link-focus);
				// SVG declared as background image in brandings-svg--php-used.scss
				// background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.857 3.844h22.286A.856.856 0 0024 2.99V.854A.856.856 0 0023.143 0H.857A.856.856 0 000 .854V2.99c0 .472.384.854.857.854zm0 8.543h22.286a.856.856 0 00.857-.854V9.397a.856.856 0 00-.857-.854H.857A.856.856 0 000 9.397v2.136c0 .472.384.854.857.854zm0 8.543h22.286a.856.856 0 00.857-.854V17.94a.856.856 0 00-.857-.854H.857A.856.856 0 000 17.94v2.136c0 .472.384.854.857.854z' fill='"+ var(--header-link-focus-svg) + "'/%3E%3C/svg%3E");
			}
		}

		.hale-header__header-link--search {
			color: var(--header-link);
			// SVG declared as background image in brandings-svg--php-used.scss
			// background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2 0 28 28' aria-hidden='true'%3E%3Cpath d='M19.71 18.29l-4.11-4.1a7 7 0 10-1.41 1.41l4.1 4.11a1 1 0 001.42 0 1 1 0 000-1.42zM5 10a5 5 0 115 5 5 5 0 01-5-5z' fill='" + var(--header-link-svg) + "'/%3E%3C/svg%3E");

			&[aria-expanded=true] {
				background-position-y: -7px;
				// SVG declared as background image in brandings-svg--php-used.scss
				// background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath d='M13.41 12l5.3-5.29a1 1 0 10-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 00-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 000 1.42 1 1 0 001.42 0l5.29-5.3 5.29 5.3a1 1 0 001.42 0 1 1 0 000-1.42z' fill='"+ var(--header-link-svg) + "'/%3E%3C/svg%3E");
				&:not(:hover):focus {
					// SVG declared as background image in brandings-svg--php-used.scss
					// background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath d='M13.41 12l5.3-5.29a1 1 0 10-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 00-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 000 1.42 1 1 0 001.42 0l5.29-5.3 5.29 5.3a1 1 0 001.42 0 1 1 0 000-1.42z' fill='"+ var(--header-link-focus-svg) + "'/%3E%3C/svg%3E");
				}
			}
			&:not(:hover):focus {
				color: var(--header-link-focus);
				background-color: var(--header-link-focus-highlight);
				box-shadow: 0 -2px var(--header-link-focus-highlight), 0 4px var(--header-link-focus-underline);
				// SVG declared as background image in brandings-svg--php-used.scss
				// background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2 0 28 28' aria-hidden='true'%3E%3Cpath d='M19.71 18.29l-4.11-4.1a7 7 0 10-1.41 1.41l4.1 4.11a1 1 0 001.42 0 1 1 0 000-1.42zM5 10a5 5 0 115 5 5 5 0 01-5-5z' fill='"+ var(--header-link-focus-svg) + "'/%3E%3C/svg%3E");
			}
		}
		//remove MoJ logo text
		.govuk-header__logotype-text:not(.hale-header__logotype-text--custom) {
			display:none;
		}

		.govuk-header__content {

			.govuk-header__menu-button {

				color: var(--header-link);

				&:focus:not(:hover) {
					color: var(--header-link-focus);
					background-color: var(--header-link-focus-highlight);
					border-bottom-color: var(--header-link-focus-underline);
					box-shadow: 0 -2px var(--header-link-focus-highlight), 0 4px var(--header-link-focus-underline);

					@include hale-heading-link-underline-restrictor($colour: --header-link-focus-underline);
				}

				&:hover {
					border-bottom-color: var(--header-link-hover-border);

					@include hale-heading-link-underline-restrictor($colour: --header-bg);
				}

				&:after {
					content: none; // removes little arrow from dropdown menu - Hale uses an icon
				}
			}
			.govuk-header__navigation-list {
				border-top: 1px solid var(--header-divider-line);

				> .current-menu-item {
					> a,
					> a:visited,
					> a:link,
					> a:link:visited {

						&:not(:focus) {
							color: var(--header-link-current);
							background-color: var(--header-link-current-bg);

							&:hover {
								color: var(--header-link-current);
								border-bottom-color: var(--header-link-current-hover-border);

								@include hale-heading-link-underline-restrictor($colour: --header-link-current-bg);
							}

							&:not(:hover) {
								@include govuk-media-query($from: desktop) {
									border-bottom-color: var(--header-link-current-border) ! important;
									@include hale-heading-link-underline-restrictor($colour: --header-link-current-bg);
								}
							}
						}
					}
				}

				li {
					&, .hale-header__dropdown-arrow {
						border-color: var(--header-divider-line);
					}

					> a,
					> a:visited,
					> a:link,
					> a:link:visited {
						color: var(--header-link);

						&:hover:focus {
							color: var(--header-link-hover-focus);
							border-bottom-color: var(--header-link-hover-focus);
							background-color: var(--header-link-focus-highlight);

							@include hale-heading-link-underline-restrictor($colour: --header-link-focus-highlight);
						}

						&:focus:not(:hover) {
							color: var(--header-link-focus);
							background-color: var(--header-link-focus-highlight);
							border-bottom-color: var(--header-link-focus-underline);

							@include hale-heading-link-underline-restrictor($colour: --header-link-focus-highlight);
						}

						&:hover {
							color: var(--header-link-hover);
							border-bottom-color: var(--header-link-hover-border);

							@include hale-heading-link-underline-restrictor($colour: --header-bg);
						}
					}

					&.menu-item-has-children {
						border-right-color: var(--header-divider-line);

						.hale-header__dropdown-arrow{
							color: var(--header-link);
							background-color: var(--header-bg);

							&:hover {
									color: var(--header-link-hover);
									border-bottom-color: var(--header-link-hover);
							}
							&:focus {
									color: var(--header-link-hover-focus);
									border-bottom-color: var(--header-link-hover-focus);
									background-color: var(--header-link-focus-highlight);
							}
						}

						> a:after,
						> a:link:after,
						> a:visited:after,
						> a:link:visited:after {
							border-color: currentColor;;
						}
						@include govuk-media-query($until: desktop) {
							&.current_page_item,
							&.current_page_ancestor {
								> a:after,
								> a:link:after,
								> a:visited:after,
								> a:link:visited:after {
									border-color: var(--header-link);
								}
							}
							> a:focus:after {
								border-color: var(--header-link);
							}
						}

						@include govuk-media-query($from: desktop) {
							&:not(.current-menu-ancestor):not(.current-menu-item):hover {
								> a:not(:focus),
								> a:not(:focus):visited,
								> a:not(:focus):link,
								> a:not(:focus):link:visited {
									background-color: var(--header-link-with-children-hover-bg);
									color: var(--header-link-with-children-hover);
									border-color: var(--header-link-with-children-hover-border);
									@include hale-heading-link-underline-restrictor($colour: --header-link-with-children-hover-bg);
								}
							}

							> a:focus {
								color: var(--header-link-hover-focus);
								background-color: var(--header-link-focus-highlight);

								&:after {
									border-color: currentColor;
								}
								@include hale-heading-link-underline-restrictor($colour: --header-link-focus-highlight);
							}

						}

						&.current-menu-item,
						&.current-menu-ancestor {
							> a:not(:focus),
							> a:not(:focus):visited,
							> a:not(:focus):link,
							> a:not(:focus):link:visited {
								background-color: var(--header-link-ancestor-bg);
								color: var(--header-link-ancestor);

								&:hover {
									color: var(--header-link-ancestor);
									border-bottom-color:var(--header-link-ancestor-hover-border);

									@include hale-heading-link-underline-restrictor($colour: --header-link-ancestor-bg);
									&:focus {
										border-bottom-color: currentColor;

										@include hale-heading-link-underline-restrictor($colour: --header-link-focus-highlight);
									}
								}

								&:not(:hover) {
									@include govuk-media-query($from: desktop) {
										@include hale-heading-link-underline-restrictor($colour: --header-link-ancestor-bg);
									}
								}
							}
						}
					}
				}

				.sub-menu {
					box-shadow: 0px -1px 0px 0px var(--header-submenu-top-border);

					@include govuk-media-query($from: desktop) {
						background-color: var(--header-submenu-bg);
						&:before {
							background-color: var(--header-submenu-bg);
							box-shadow: 0 1px var(--header-divider-line);
						}
					}

					> li {
						> a,
						> a:visited,
						> a:link,
						> a:link:visited {
							color: var(--header-submenu-link-mobile);

							@include govuk-media-query($from: desktop) {
								color: var(--header-submenu-link);

								&:hover {
									border-bottom-color: currentColor;

									@include hale-heading-link-underline-restrictor($colour: --header-submenu-bg, $width: desktop);
								}
								&:focus:hover,
								&:focus:not(:hover) {
									@include hale-heading-link-underline-restrictor($colour: --header-link-focus-highlight, $width: desktop);
								}
							}
						}

						&.current-menu-item {
							> a,
							> a:visited,
							> a:link,
							> a:link:visited {
								color: var(--header-submenu-link-mobile-current);

								&:hover {
									border-bottom-color: var(--header-submenu-link-current-hover-border);
								}

								&:focus,
								&:hover:focus {
									color: var(--link-focus);
									background-color:var(--link-focus-background);
									border-bottom-color: var(--link-focus);

									@include hale-heading-link-underline-restrictor($colour: --link-focus-background, $width: desktop);
								}

								@include govuk-media-query($from: desktop) {
									background-color: var(--header-submenu-link-current-bg);
									color: var(--header-submenu-link-current);
									border-bottom-color: var(--header-submenu-link-current-border);

									@include hale-heading-link-underline-restrictor($colour: --header-submenu-link-current-bg, $width: desktop);

									&:hover {
										color: var(--header-submenu-link-current);
										border-bottom-color: var(--header-submenu-link-current-hover-border);

										@include hale-heading-link-underline-restrictor($colour: --header-submenu-link-current-bg, $width: desktop);
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.news-story-count,
	.news-story-published-date {
		color: var(--text);
	}
	.news-story-category-link {
		color: var(--tag-text);
		background: var(--tag-bg);

		&:focus {
			color: var(--tag-focus-text);
			background: var(--tag-focus-bg);
			outline-color: var(--tag-focus-outline)
		}
		&:hover, &:active {
			color: var(--tag-hover-text);
			background: var(--tag-hover-bg);
		}
	}

	//link focus state
	#primary a:not([class]),
	#primary a[class="customize-unpreviewable"],
	#primary a[class=""],
	.hale-article-nav,
	a.govuk-link,
	.moj-pagination__link {
		&:focus {
			color: var(--link-focus);
			background-color: var(--link-focus-background);
			box-shadow: 0 -2px var(--link-focus-background), 0 4px var(--link-focus-shadow);
			outline: 4px solid transparent;

			.gem-c-pagination__link-label {
				color: var(--link-focus);
			}
		}
	}
	.govuk-main-wrapper {
		.govuk-link:link,
		a:link:not([class]),
		a[class="customize-unpreviewable"], // for wordpress customizer
		.gem-c-pagination__link:link {
			color: var(--link);

			&:hover:not(:focus) {
				color: var(--link-hover);
			}
			&:focus {
				color: var(--link-focus);
			}
		}

		.govuk-link:visited,
		a:visited:not([class]),
		.gem-c-pagination__link:visited {
			color: var(--link-visited);

			&:hover:not(:focus) {
				color: var(--link-hover);
			}
			&:focus {
				color: var(--link-focus);
			}
		}
	}

	@include hale-custom-shading-text-colours("has-black-background-color");
	@include hale-custom-shading-text-colours("has-dark-grey-background-color");
}

/***
* These styles are only applied to sites which have not opted for GDS styles
*/
html.hale-colours-variable {

	.govuk-skip-link:focus {
		outline-color: var(--header-link-focus-underline);
		background-color: var(--header-link-focus-highlight);
	}

	//Cookie banner styling formerly here, but have been moved to new file - brandings-cookies.scss

	//remove GDS brand colour bar
	.govuk-header__container {
		border-bottom: none;

		&:after {
			height: 10px;
		}
	}

	// some button styles are in brandings-mojblocks.scss
	.mojblocks-button,
	a.mojblocks-button,
	.govuk-button:link,
	.govuk-button {
		border:var(--button-border);
		box-shadow: none;
		color:var(--button-text);
		background-color:var(--button);
		&:hover {
			background-color: var(--button-hover);
			color: var(--button-hover-text);
			box-shadow: none;
			border-color: var(--button-hover-border);
			svg {
				fill: var(--button-hover-text);
			}
		}
		&:focus {
			background-color: var(--button-focus);
			color: var(--button-focus-text);
			border-color: var(--button-focus-outline);
			box-shadow: 0 0 0 3px var(--button-focus-outline);
		}
		&:focus:not(:active):not(:hover) {
			background-color: var(--button-focus);
			color: var(--button-focus-text);
			border-color: var(--button-focus-outline);
			box-shadow: 0 0 0 3px var(--button-focus-outline);
		}
		svg {
			fill: var(--button-text);
		}
	}

	.govuk-exit-this-page .govuk-button{
		border:var(--quick-exit-button-border);
		box-shadow: none;
		color:var(--quick-exit-button-text);
		background-color:var(--quick-exit-button);
		&:hover {
			background-color: var(--quick-exit-button-hover);
			color: var(--quick-exit-button-hover-text);
			box-shadow: none;
			border-color: var(--quick-exit-button-hover-border);
			svg {
				fill: var(--quick-exit-button-hover-text);
			}
		}
		&:focus {
			background-color: var(--quick-exit-button-focus);
			color: var(--quick-exit-button-focus-text);
			border-color: var(--quick-exit-button-focus-outline);
			box-shadow: 0 0 0 3px var(--quick-exit-button-focus-outline);
		}
		&:focus:not(:active):not(:hover) {
			background-color: var(--quick-exit-button-focus);
			color: var(--quick-exit-button-focus-text);
			border-color: var(--quick-exit-button-focus-outline);
			box-shadow: 0 0 0 3px var(--quick-exit-button-focus-outline);
		}
		svg {
			fill: var(--quick-exit-button-text);
		}

	}

	.govuk-select,
	.govuk-input {
		border: 2px solid var(--input-border);
		background: var(--input-bg);

		&:focus {
			outline: 3px solid var(--input-focus);
			outline-offset: 0;
			box-shadow: inset 0 0 0 1px var(--input-border);
		}
	}

	.govuk-breadcrumbs__link,
	.govuk-back-link {
		@extend .govuk-link;

	}
	.govuk-breadcrumbs__list-item {
		color: var(--text);
		max-width: 500px;
		white-space: nowrap;
		text-overflow: ellipsis;
		border-bottom: 3px solid transparent;
	}

	//link focus state (breadcrumbs)
	a.govuk-breadcrumbs__link,
	a.govuk-back-link {
		&:focus {
			background-color: var(--link-focus-background);
			box-shadow: 0 -2px var(--link-focus-background), 0 3px var(--link-focus-shadow);
			outline: 4px solid transparent;
		}
	}

	//shading colour - set here and use @extend to shade elements below
	.hale-shaded {
		background-color:var(--title-shading);
	}

	.hale-search-header,
	.page-header-section {

		position:relative;
		padding:0.2em 0;
		margin-bottom:2rem;

		&:before {
			@extend .hale-shaded; // gets the shading colour
			position: absolute;
			content: "";
			left: 50%;
			width: 200vw;
			height: calc(100% + 0.6em);
			z-index: -1;
			display: block;
			overflow: visible;
			transform: translate(-50%, -0.3em);

			@media (hover: none) and (pointer: coarse) {
			display: none;
			}
		}
		> * {
			position:relative;
			top:1rem;
		}
	}

	/* Category Navigation
	Colour Options used: cat-nav-arrows - refer to the SVG brandings scss file
	*/
	ul.hale-list--top {
		li {
			// SVG declared as background image in brandings-svg--php-used.scss
			// background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .375C18.422.375 23.625 5.578 23.625 12S18.422 23.625 12 23.625.375 18.422.375 12 5.578.375 12 .375zm5.34 10.828l-6.352-6.351a1.12 1.12 0 00-1.59 0l-.796.796a1.12 1.12 0 000 1.59L13.364 12l-4.762 4.762a1.12 1.12 0 000 1.59l.796.796a1.12 1.12 0 001.59 0l6.351-6.351c.44-.44.44-1.153 0-1.594z' fill='" + var(--cat-nav-arrows-svg) + "'/%3E%3C/svg%3E");
		}
	}
	&.page-body-colour {
		background-color:var(--title-shading);

		.hale-search-header,
		.page-header-section {
			&:before
			{
				content: none;
			}
		}
	}

	.gem-c-pagination__item {
		&.gem-c-pagination__item--next .gem-c-pagination__link {
			// SVG declared as background image in brandings-svg--php-used.scss
			// background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 .438c7.492 0 13.563 6.07 13.563 13.562 0 7.492-6.07 13.563-13.563 13.563C6.508 27.563.437 21.492.437 14 .438 6.508 6.508.437 14 .437zm6.229 12.632l-7.41-7.41a1.307 1.307 0 00-1.854 0l-.93.93a1.307 1.307 0 000 1.854L15.591 14l-5.556 5.556a1.307 1.307 0 000 1.854l.93.93a1.307 1.307 0 001.854 0l7.41-7.41a1.314 1.314 0 000-1.86z' fill='" + var(--cat-nav-arrows-svg) + "'/%3E%3C/svg%3E")
		}
		&.gem-c-pagination__item--previous .gem-c-pagination__link {
			// SVG declared as background image in brandings-svg--php-used.scss
			// background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 27.563C6.508 27.563.437 21.492.437 14 .438 6.508 6.508.437 14 .437c7.492 0 13.563 6.07 13.563 13.563 0 7.492-6.07 13.563-13.563 13.563zM7.771 14.93l7.41 7.41a1.307 1.307 0 001.854 0l.93-.93a1.307 1.307 0 000-1.854L12.409 14l5.556-5.556a1.307 1.307 0 000-1.854l-.93-.93a1.307 1.307 0 00-1.854 0l-7.41 7.41a1.314 1.314 0 000 1.86z' fill='" + var(--cat-nav-arrows-svg) + "'/%3E%3C/svg%3E")
		}
	}

	/* Footer Section
	Colour Options used:
	footer-border
	footer-background
	footer-link-focus-background
	link-focus
	*/
	.govuk-footer {
		border-top-width: 4px;
		border-top-color: var(--footer-border);
		background: var(--footer-background);
		box-shadow: 0 20px 0 0 var(--footer-background);

		a:not([class]),
		a[class=""],
		.govuk-footer__link {

			&:not(:focus) {
				color: var(--footer-link);
			}

			&:hover {
				text-decoration:none;
			}
			&:focus {
				color: var(--footer-link-focus);
				background-color: var(--footer-link-focus-background);
				box-shadow: 0 -2px var(--footer-link-focus-background), 0 4px var(--footer-link-focus-shadow);
				outline: 4px solid transparent;
			}
		}

		.widget_social_widget .hale-social-link:focus {
			box-shadow:
				-4px 0 var(--footer-link-focus-background),
				4px 0 var(--footer-link-focus-background),
				-4px 4px var(--footer-link-focus-shadow),
				4px 4px var(--footer-link-focus-shadow);
		}
	}
	.job-list-item {
		background-color: var(--job-item-bg);
		border-color: var(--job-item-border);
	}
	.archive-pagination {
		border-top-color: var(--pagination-border);
	}

	.govuk-form-group--error {
		border-left-color: var(--error);

		.govuk-select,
		.govuk-input {
			&--error{
				border-color: var(--error);
			}
		}
	}
	.govuk-error-message {
		color: var(--error);
	}
	.govuk-error-summary {
		border-color: var(--error);

		&__list{
			a:not(:focus) {
				&:link,
				&:visited,
				&:link:visited {
					color: var(--error);

					&:hover {
						color: var(--error-link-hover);
					}
				}
			}
		}

	}
}
