.nhsuk-breadcrumb__list {

  @include mq($from: tablet) {
    margin-left: -15px;
  }

  & a:focus {
    background-color: rgba(0,161,154,.1);
    box-shadow: 0 -2px rgba(0,161,154,.1),0 4px #00a19a;
  }

  & a:active {
    background-color: rgba(0,161,154,.1);
    box-shadow: 0 -2px rgba(0,161,154,.1),0 4px #00a19a;
    color: $color_bluebell-blue;
  }

}
