.condolence-banner {
  background: govuk-colour("black");
  color: govuk-colour("white");
  padding: 20px;


  a {
    color: govuk-colour("white");
    text-decoration: underline;

    &:focus, &:visited, &:hover,  #primary &:visited  {
      color: govuk-colour("white");
      text-decoration: underline;
    }
  }
}
