.decision-title {
    margin-bottom: govuk-spacing(7);
}

.decision-details {
    @include govuk-font-size($size: 19);
    font-weight: bold;

    .decision-published-date {
        margin-bottom: 20px;
    }
}

.decision-summary__link {
    margin-top: govuk-spacing(6);
}

#primary .decision-summary {
    &__image {
        width: 198px;
        padding-bottom: 2px;

        a {
            display: block;

            &:focus img {
                outline: none;
            }
        }

        img {
            max-width: 100%;
            max-height: 264px;
            outline: 1px solid $govuk-border-colour;
            mix-blend-mode: multiply;
        }
    }

    &__icon {

        svg,
        img {
            position: relative;
            top: 3px;
            padding-right: 0.5em;
        }

        svg {
            height: 1.2em;
        }

        img {
            height: 1em;
            width: auto;
        }
    }

    .decision-summary-text p {
        font-weight: bold;
        margin-bottom: 20px;
    }
}


#primary .decision-listing-search-section {

    .decision-listing-search-form {

        p {
            font-weight: bold;
            margin-top: 20px;
        }

        .govuk-label {
            margin-top: 10px;
        }

        .govuk-select {
            width: 100%;
            min-width: 100%;
        }

        .govuk-button {
            margin-top: 20px;
        }
    }
}

.decision-count {
    border-top: 1px solid $govuk-border-colour;
    padding-bottom: 16px;
    padding-top: 10px;
    text-align: right;
    @include govuk-font-size($size: 19);
}

.decision-list {
    .decision-list-item {
        border-bottom: 1px solid $govuk-border-colour;

        .decision-published-date {
            @include govuk-font-size($size: 19);
            margin-bottom: 20px;
            font-weight: bold;

            .published-date {
                font-weight: normal;
            }
        }

        &:last-child {
            border: none;
        }
    }
}