#primary { //Used as otherwise font styles using primarry override
  .flexible-post-type-single {
    .flexible-post-type-header {

      .flexible-post-type-title {
        margin-bottom: 25px;
        font-weight: normal;
      }
    }
    .flexible-post-type-details {
      .flexible-post-type-detail {
        @include govuk-font-size($size: 19);
        margin-bottom: 20px;

        .flexible-post-type-detail-label {
          font-weight: bold;
          display: inline-block;
        }
      }
    }

  }
}