#primary { //Used as otherwise font styles using primarry override
  .flexible-post-type-single {
    .flexible-post-type-header {

      .flexible-post-type-title {
        margin-bottom: 25px;
        font-weight: normal;
      }
    }
    .flexible-post-type-details {
      .flexible-post-type-detail {
        @include govuk-font-size($size: 19);
        margin-bottom: 20px;

        .flexible-post-type-detail-label {
          font-weight: bold;
          display: inline-block;
        }
      }
    }

    .flexible-post-type-tags {
    
      .flexible-post-type-tags-list {
        list-style: none;
        padding: 0;
        margin-top: 0;
    
        .flexible-post-type-tags-list-item {
          display: inline-block;
          margin-top:0.4rem;
          margin-bottom:0.4rem;
    
          .flexible-post-type-tags-link {
            font-weight: bold;
            border-radius: 4px;
            padding: 4px 8px;
            text-decoration: none;
            margin-right: 15px;
            text-align: center;
    
            &:focus {
              outline-style: solid;
              outline-width: 2px;
              outline-offset: 0;
            }
          }
        }
      }
    }

  }
}