.govuk-footer {

  &__gov-crest {
    display: block;
    margin: 0 auto;
    width: 115px;
  }

  a:not([class]), a[class=""] {
    //deals with any links that aren't classed - makes them GDS footer links
    @extend .govuk-footer__link;
  }

  .hale-primary-footer-menu {
    display: block;
    line-height: 2;

    @include govuk-media-query($from: desktop) {
      line-height: 1;
      margin-bottom: 30px;
    }
  }

  .hale-secondary-footer-menu {
    display: block;
    padding: 20px 0 6px;
    margin-bottom: 15px;
    line-height: 2;
    border-top: 1px solid;
    border-bottom: 1px solid;

    ul {
      column-count: 2;
    }

    @include govuk-media-query($from: desktop) {
      line-height: 1;
      margin-bottom: 30px;

      ul {
        column-count: auto;
      }
    }
  }
}

.hale-footer {
  &__copyright {
    margin-top: 1rem;
  }
  &__copyright_img img,
  &__copyright_img {
    max-height: 125px;
  }
}
