.nhsuk-footer {

	&__list {
		width: 100%;
		margin-bottom: 16px;
		margin-bottom: 1rem;
	}

	&__copyright {
		float: unset;
		text-align: left;
    color: #454A4C;
    width: 100%;

    a {
      color: #454A4C;

      &:visited {
        color: #454A4C;
      }
    }

		&_img {

			text-align: center;

			img {
				max-width: 50%;
			}
		}
	}
	.widget_social_widget {
		font-size: 2.5rem;

		a {
			color: #454A4C;
			margin-right: 12px;

			&:focus, &:hover, &:active  {
				background-color: transparent;
				box-shadow: none;
				color:  $color_marine-blue;
			}
		}

		.widgettitle {
			font-size: 24px;
			font-size: 1.5rem;
		}
	}
}
