$govuk-font-family: 'PT Sans', sans-serif;
@import "node_modules/govuk-frontend/govuk/all";
@import url(https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap);

//Overrides

.hale-page {
  body {
    //the full width cover images go slightly off the pagem this is the easiest fix.
    overflow-x: hidden;
  }
  
  #primary {
    font-family: $govuk-font-family;

    &.govuk-grid-column-two-thirds .govuk-grid-column-full {
      //for blocks (beneath primary that use the full width class to override the ⅔ width
      @include govuk-media-query($from: tablet) {
        width: 150%;
        padding:0;
      }
    }
  }
  .hale-footer__copyright a {
    @extend .govuk-footer__link;
  }
}

.hale-width {
  &--show-narrow-40 {
    display:block;
    @include govuk-media-query($from: tablet) {
      display:none;
    }
  }
  &--hide-narrow-40 {
    display:none;
    @include govuk-media-query($from: tablet) {
      display:block;
    }
  }
}

.hale-header__mobile-controls--search {
  @extend .govuk-header__menu-button;
}
.js-enabled .hale-header__mobile-controls--search {
	right: 60px;
	@include govuk-media-query($from: tablet) {
		display:none;
	}
	+ .hale-header__search-wrap {
		display:none;
		@include govuk-media-query($from: tablet) {
			display:block;
		}
	}
	&[aria-expanded="true"] + .hale-header__search-wrap {
		display:block;
		margin-top: 2em;
	}
}
.hale-search-results__last-updated-date{
  color: $govuk-secondary-text-colour;
}
