$govuk-font-family: 'PT Sans', sans-serif;
@import "node_modules/govuk-frontend/govuk/all";
@import url(https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap);

//Overrides

.jotw-page {
  body {
    //the full width cover images go slightly off the pagem this is the easiest fix.
    overflow-x: hidden;
  }
  
  #primary {

    font-family: $govuk-font-family;

    &.govuk-grid-column-two-thirds .govuk-grid-column-full {
      //for blocks (beneath primary that use the full width class to override the ⅔ width
      @media (min-width: 40.0625em) {
        width: 150%;
        padding:0;
      }
    }
  }
  
  .govuk-footer .widget_social_widget {
    //the styles here are just for the social media icon links.
    font-size: 40px;
    
    .jotw-social-link {
      margin-right:12px;
      
      &:hover {
        box-shadow: 0 4px $govuk-text-colour;
      }
      &:focus {
        box-shadow: -4px 0px $govuk-focus-colour, 4px 0px $govuk-focus-colour, -4px 4px $govuk-text-colour, 4px 4px $govuk-text-colour;
      }
    }
  }
}

.jotw-header {
  padding-top: 2px; //wee bit of space above the logo

  .govuk-header__logo {
    //make this a min-width to account for the longer header texts than "GOV.UK"
    width: unset;
    min-width: 33.33%;

    .jotw-header__logo--custom {
      //we do not display a custom logo in "native" mode (i.e. no overriding class = GDS styles)
      display:none;
    }

    a:focus .moj-header__logotype-crest path {
      fill: $govuk-focus-text-colour;
    }
  }
  .jotw-header--with-search {
    //but for search bar, we revert to the GDS norm
    .govuk-header__logo {
      width: 50%;
    }
  }
  .jotw-header__search {
    padding-bottom: 0.5em;
  }
  .govuk-header__content {
    //remove the width restriction - doesn't work with wider logo (above)
    width: unset;
  }
  .govuk-header__logotype {
    //changes because of longer header text and their potential to wrap
    padding-left: 47px;
    position:relative;

    .moj-header__logotype-crest {
      position: absolute;
      top: -7px;
      left: 0;
      margin-right: 5px;
      vertical-align: top;
    }
  }
  @media (min-width: 48.0625em) {
    .govuk-header__content {
      //with the longer header text, the menu now spans the bottom of the header, rather than only the last ⅔.
      width:unset;
      padding: 1em 0 0;
    }
  }
  .jotw-header__search-form {
    position:relative;
    width: calc(15rem + 44px);
    max-width: 100%;

    .jotw-search__button-text {
      @extend .govuk-visually-hidden;
    }

    .jotw-search__input{
      padding-right: 46px;
      border-width: 0;
      &:focus {
        border-width: 0;
        + .jotw-search__submit {
          border-color: $govuk-focus-colour;
          color: $govuk-focus-text-colour;
          background-color: $govuk-focus-colour;
          box-shadow: none;
          @media (min-width: 40.0625em) {
            box-shadow: 0 1px 0 $govuk-focus-colour;
          }
        }
      }
    }
    .jotw-search__submit {
      position: absolute;
      right: -2px;
      top: 0;
      padding-top: 6px;
      margin-top: 0;
      border: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 0;
      border-top-right-radius: 4px;
      padding-left: 9px;
      padding-top: 2px;
      width: 44px;

      svg.jotw-icon__search {
        display:inline;
        position: relative;
        top: 4px;
        height: 27px;
        width: 27px;
      }
    }
  }
  @media (min-width: 48.0625em) {
    .jotw-header__search-form {
      margin-left: auto;
    }
  }
}
.jotw-search__submit {
  margin-top: 30px; //to mimic the .govuk-form-group that we don't have here.
}
svg.jotw-icon__search {
  display:none; //display in header only;
}

.jotw-width {
  &--show-narrow-40 {
    display:block;
    @media (min-width: 40.0625em) {
      display:none;
    }
  }
  &--hide-narrow-40 {
    display:none;
    @media (min-width: 40.0625em) {
      display:block;
    }
  }
}

.jotw-header__mobile-controls--search {
  display:none;
}

.jotw-search-results__last-updated-date{
  color: $govuk-secondary-text-colour;
}