// This is required as unable to add classes to the header navigation
.govuk-header {
  .govuk-header__navigation {
    max-width: 100%;
    li {
      @extend .govuk-header__navigation-item;

      a {
        @extend .govuk-header__link;
        height: 100%;
        padding: 8px 0;
      }
    }
  }
}
