@import "fontawesome/scss/fontawesome.scss";
@import "fontawesome/scss/brands.scss";

.facebook {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-facebook-square);
  }
  &.unharmonized:before{
    content: fa-content($fa-var-facebook);
  }
}

.instagram {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-instagram-square);
  }
  &.unharmonized:before{
    content: fa-content($fa-var-instagram);
  }
}

.linkedin {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-linkedin);
  }
  &.unharmonized:before{
    content: fa-content($fa-var-linkedin-in);
  }
}

.twitter {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-square-x-twitter);
  }
  &.unharmonized:before{
    content: fa-content($fa-var-x-twitter);
  }
}

.youtube {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-youtube-square);
  }
  &.unharmonized:before{
    content: fa-content($fa-var-youtube);
  }
}
