.job-listing-filter-form {
	.govuk-select {
		width: 100%;
	}
}
.job-list-item {
	padding: 1rem;
	margin: 1rem 0;
	border-bottom: 1px solid;
	&:first-child {
		margin-top: 0;
		padding-top: 0;
	}
	&:last-child {
		border-bottom: none;
	}

	&--title {
		margin-top: 0;
	}
	&--section {
		> div {
			padding-right: 1rem;
			vertical-align: top;
			display: inline-block;
		}

		&--label {
			width:125px;
		}
		&--detail {
			width:calc(100% - 135px);
		}
	}
}
