.jotw-secondary-text {
  color:$govuk-secondary-text-colour;
}

@media (max-width: 40.0525em) {
  .jotw-width_hide-narrow-40 {
    display: none;
  }
}
@media (min-width: 40.0525em) {
  .jotw-width_hide-narrow-40 {
    display: none;
  }
}

.jotw-banner__button {
  float: right;
}