#primary {
  a:not([class]), a[class=""] {
    //deals with any links that aren't classed - makes them GDS links
    @extend .govuk-link;
  }
  ul:not([class]), ul[class=""] {
    //deals with any lists that aren't classed - makes them GDS links
    @extend .govuk-list;
    @extend .govuk-list--bullet;
  }

	//override for the sovial media links (ootb wordpress)
	.wp-block-social-link {
		> a:not([class]), > a[class=""] {
			color: govuk-colour("white");
		}
	}
}
