// We are unable to add classes to the header navigation

.govuk-header {
  //overrides the govuk nowrap and centres text for the longer menus found on hale
  &.hale-header .govuk-header__navigation-list li a {
    white-space: normal;
    text-align: left;

    @include govuk-media-query($from: desktop) {
      text-align: center;
    }
  }

  &__navigation {
    margin-bottom: 0;

    &-list {
      max-width: 100%;
      li {

        @extend .govuk-header__navigation-item;

        padding:0;
        margin-right:0;
        display:block;

        a,
        a:link,
        a:visited,
        a:link:visited {
          @extend .govuk-header__link;
          display:inline-block;
          width:100%;
          height: 100%;
          padding: 8px 15px;
          text-decoration: none;

          @include govuk-media-query($from: desktop) {
            min-height: 40px;
            height: auto;
          }
          @include govuk-media-query($from: desktop, $until: 1023px) { //"desktop" is 769px (GDS v4.2)
            padding-left: 0;
            padding-right: 0;
          }
          &:before {
            display:block;
            position:absolute;
            width:100%;
            height:calc(100% + 4px);
            left:0;
            top:0;
          }
        }

        &.menu-item-has-children {
          margin-right: 60px;
          border-right-style: solid;
          border-right-width: 1px;

          @include govuk-media-query($from: desktop) {
            margin-right: 0;
            border-right: none;
          }
          .hale-header__dropdown-arrow {
            display: inline-block;
            position: absolute;
            right: -60px;
            top: 0;
            width: 60px;
            //height: 37px;
            height: calc(100% + 5px);
            border-width: 0;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            z-index: 20;
            background-color: transparent;
            cursor: pointer;
            @include govuk-media-query($from: desktop) {
              display:none;
            }

            &:hover {
              border-bottom-width: 4px;
              border-bottom-style: solid;
              height: calc(100% + 4px);
              outline: none;
            }

            &:focus {
              border-bottom-width: 4px;
              border-bottom-style: solid;
              height: calc(100% + 4px);
              outline: none;
            }

            &:after {
              border-color: currentcolor;
              border-style: solid;
              border-width: 0 3px 3px 0;
              content: "";
              display: block;
              float: left;
              margin: 3px 10px 0 5px;
              padding: 3px;
              position: absolute;
              right: 15px;
              top: 10px;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
            }
          }

          > a,
          > a:link,
          > a:visited,
          > a:link:visited {
            position: relative;

            @include govuk-media-query($from: desktop) {
              padding-right: 19px;
            }
            @include govuk-media-query($from: 1024px) {
              padding-right: 34px;
            }

            &:after {
              content: "";
              border-color: currentColor;
              border-style: solid;
              border-width: 0 3px 3px 0;
              display: block;
              padding: 3px;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              float: left;
              margin: 3px 10px 0 5px;
              position: absolute;
              top: 10px;
              right: -45px;
              @include govuk-media-query($from: desktop) {
                right: -8px;
              }
              @include govuk-media-query($from: 1024px) {
                right: 7px;
              }
            }
          }
          @include govuk-media-query($from: desktop) {
            &:hover,
            &:focus-within {
              > a + .sub-menu {
                display:block;
              }
            }
          }

          &.sub-menu-open {
            > a:after,
            .hale-header__dropdown-arrow:after {
                transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
                margin: 6px 10px 0 5px;
            }
          }
        }

        &.menu-item-has-children:last-child {
          > a,
          > a:link,
          > a:visited,
          > a:link:visited {
            > .hale-header__dropdown-arrow:not(:focus):not(:hover) {
              // this removes the grey line from the bottom option, in line with the rest of the menu
              border-bottom-width: 0px;
            }
          }
        }

        //Sub Menu - Mobile Open Styles
        &.sub-menu-open {
          .sub-menu {
            display: block;
          }
        }

        //Sub Menu Styles
        .sub-menu {
          justify-content: space-around;
          padding: 0;
          margin: 0;
          list-style: none;
          display: none;

          li {
            border-bottom: 0;
            border-top-width: 1px;
            border-top-style: solid;

            a,
            a:visited,
            a:link,
            a:link:visited{
              text-align: left;
              padding-left: 25px;
              padding-right: 0;
            }

          }
          @include govuk-media-query($from: desktop) { //"desktop" is 769px (GDS v4.2)
            position: absolute;
            z-index: 1;
            padding: 5px 0;
            //options are constricted by the end of the menu, this allows a little extra space to avoid in-word wrapping if the secondary menu has words longer than the primary menu (last) option which reveals it
            margin-right: -40px;
            //40px allows for the 30px gap between menu and screen edge and the 15px padding, 5px is left to separate text from screen edge

            li {
              border-top:0;

              a,
              a:visited,
              a:link,
              a:link:visited {
                padding-left: 15px;
                padding-right: 15px;
              }
            }
          }
        }
      }

      li.current-menu-item a:link,
      .govuk-header__menu-button,
      a:link {
        border-bottom-width: 4px;
        border-bottom-style: solid;
        text-decoration: none;
        box-shadow: none;

        &:not(:hover) {
          border-bottom-color: transparent;
        }

        &:focus:not(:active):not(:hover),
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
