// We are unable to add classes to the header navigation

.govuk-header {
  //overrides the govuk nowrap and centres text for the longer menus found on hale
  &.hale-header .govuk-header__navigation-list li a {
    white-space: normal;
    text-align: left;
  }

  &__navigation {
    margin-bottom: 0;

    //Move so the menu text is in line with the website text - otherwise the click area is in line and it looks indented
    width: calc(100% + 28px);
    position: relative;
    left: -14px;

    &-list {
      max-width: 100%;
      li {

        @extend .govuk-header__navigation-item;

        padding: 0;
        margin-right: 0;
        display: block;

        a,
        a:link,
        a:visited,
        a:link:visited {
          @extend .govuk-header__link;
          display:inline-block;
          width:100%;
          height: 100%;
          padding: 8px 15px;
          text-decoration: none;

          &:before {
            display:block;
            position:absolute;
            width:100%;
            height:calc(100% + 4px);
            left:0;
            top:0;
          }
        }

        &.menu-item-has-children {
          margin-right: 60px;
          border-right-style: solid;
          border-right-width: 1px;

          > a,
          > a:link,
          > a:visited,
          > a:link:visited {
            position: relative;

            &:after {
              content: "";
              border-color: currentColor;
              border-style: solid;
              border-width: 0 3px 3px 0;
              display: block;
              padding: 3px;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              float: left;
              margin: 3px 10px 0 5px;
              position: absolute;
              top: 10px;
              right: -45px;
            }

            > span.hale-header__dropdown-arrow {
              border-bottom-width: 1px;
              border-bottom-style: solid;
              position: absolute;
              z-index: 20;
              top: 0;
              right: -60px;
              width: 60px;
              height: 37px;
              background-color: transparent;
              cursor: pointer;
              @include govuk-media-query($from: tablet) {
                height: 41px;
              }
              @include govuk-media-query($from: desktop) {
                display:none;
              }
            }

            &:focus-within > span.hale-header__dropdown-arrow:focus {
              outline: none;

              &:after {
                border-color: currentcolor;
                border-style: solid;
                border-width: 0 3px 3px 0;
                content: "";
                display: block;
                float: left;
                margin: 3px 10px 0 5px;
                padding: 3px;
                position: absolute;
                right: 15px;
                top: 10px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
              }
            }
          }

          &.sub-menu-open {
            > a:after,
            > a:focus-within > span.hale-header__dropdown-arrow:focus:after {
                transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
                margin: 6px 10px 0 5px;
            }
          }
        }

        &.menu-item-has-children:last-child {
          > a,
          > a:link,
          > a:visited,
          > a:link:visited {
            > span.hale-header__dropdown-arrow {
              border-bottom-width: 0px;
            }
          }
        }

        //Sub Menu - Mobile Open Styles
        &.sub-menu-open {
          .sub-menu {
            display: block;
          }
        }

        //Sub Menu Styles
        .sub-menu {
          justify-content: space-around;
          padding: 0;
          margin: 0;
          list-style: none;
          display: none;

          li {
            border-bottom: 0;
            border-top-width: 1px;
            border-top-style: solid;

            a,
            a:visited,
            a:link,
            a:link:visited{
              text-align: left;
              padding-left: 25px;
              padding-right: 0;
            }
          }
        }
      }

      li.current-menu-item a:link,
      .govuk-header__menu-button,
      a:link {
        border-bottom-width: 4px;
        border-bottom-style: solid;
        text-decoration: none;
        box-shadow: none;

        &:not(:hover) {
          border-bottom-color: transparent;
        }

        &:focus:not(:active):not(:hover),
        &:focus {
          box-shadow: none;
        }
      }

      //"desktop" is 769px (GDS v4.2)
      @include govuk-media-query($from: desktop) {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;

        &[data-menu-count]:not([data-menu-count="2"]):not([data-menu-count="3"]):not([data-menu-count="4"]):not([data-menu-count="6"]):not([data-menu-count="7"]):not([data-menu-count="8"]):not([data-menu-count="11"]):not([data-menu-count="12"]):not([data-menu-count="13"]):not([data-menu-count="14"]) {
          > li {
            width: calc(0.88 * (100% - 50px) / 5);
            max-width: calc(0.88 * (100% - 50px) / 5);
            margin-right: calc(0.11 * (99% - 50px) / 5);
          }
        }
        &[data-menu-count="2"],
        &[data-menu-count="3"],
        &[data-menu-count="4"],
        &[data-menu-count="7"], // 7 for desktop - 1024px only
        &[data-menu-count="8"] {
          > li {
            width: calc(0.88 * (100% - 50px) / 4);
            max-width: calc(0.88 * (100% - 50px) / 4);
            margin-right: calc(0.11 * (99% - 50px) / 4);
          }
        }
        &[data-menu-count="6"],
        &[data-menu-count="11"],
        &[data-menu-count="12"] {
          > li {
            width: calc(0.88 * (100% - 50px) / 6);
            max-width: calc(0.88 * (100% - 50px) / 6);
            margin-right: calc(0.11 * (99% - 50px) / 6);
          }
        }
        &[data-menu-count="13"],
        &[data-menu-count="14"] {
          // 13 and 14 for desktop - 1024px only
          > li {
            width: calc(0.88 * (100% - 50px) / 5);
            max-width: calc(0.88 * (100% - 50px) / 5);
            margin-right: calc(0.11 * (99% - 50px) / 5);
          }
        }
        @include govuk-media-query($from: 1024px) {
          // divide by 7 only for wider displays
          &[data-menu-count="7"],
          &[data-menu-count="13"],
          &[data-menu-count="14"] {
            > li {
              width: calc(0.88 * (100% - 50px) / 7);
              max-width: calc(0.88 * (100% - 50px) / 7);
              margin-right: calc(0.11 * (99% - 50px) / 7);
            }
          }
        }

        > li {
          padding: 0;
          position: relative;
          flex-grow: 1;

          > {
            a,
            a:visited,
            a:link,
            a:link:visited {
              min-height: 40px;
              height: 100%;
              text-align: left;
              border-bottom-width: 4px;
              border-bottom-style: solid;

              > div {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }

          &.menu-item-has-children {
            border-right: none;

            &:hover,
            &:focus-within {
              > a + .sub-menu {
                display:block;
              }
            }

            > {
              a,
              a:visited,
              a:link,
              a:link:visited {
                padding-right: 19px;
                @include govuk-media-query($from: 1024px) {
                  padding-right: 34px;
                }
                &:after {
                  right: -2px;
                  @include govuk-media-query($from: 1024px) {
                    right: 7px;
                  }
                  transform: rotate(45deg) translateY(-50%);
                  -webkit-transform: rotate(45deg) translateY(-50%);
                  top: calc(50% - 6px);
                }
                > span.hale-header__dropdown-arrow {
                  display:none;
                }
              }
            }
          }

          .sub-menu {
            position: absolute;
            z-index: 1;
            padding: 5px 0 9px;
            //options are constricted by the end of the menu, this allows a little extra space to avoid in-word wrapping if the secondary menu has words longer than the primary menu (last) option which reveals it
            margin-right: 0;
            min-width: 100%;
            max-width: 150%;
            width: max-content;
            li {
              border-top:0;
              width: calc(100% - 12px);
              margin-left: 6px;
              margin-right: 6px;

              a,
              a:visited,
              a:link,
              a:link:visited {
                padding-left: 15px;
                padding-right: 15px;
                border-bottom-width: 4px;
                border-bottom-style: solid;
              }
            }
          }
        }
      }
    }
    @include govuk-media-query($from: desktop) {
      &.hale-header__topnav {
        margin-bottom: 5px;
      }
    }
  }
}
