/* Styles - Page Templates */

.page {
  .page-header {

    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background: rgba(#000000, 0.1);
    padding: 1em 0 0 0;
    margin-bottom: 2em;
    display: inline-block;

    @include mq($from: tablet) {
      padding: 2em 0 0 0;
    }

    h1 {
      margin-bottom: 0.5em;
    }

    .category-pages-nav {
      .current_page {
        font-weight: bold;
        color: $color_charcoal-black;
      }

      li {
         a {
            color: $color_southsea-blue;
           text-decoration: none;

           &:visited {
             color: $color_southsea-blue;
           }
         }
      }
    }

  }


  .category-page-bottom-nav {
    .category-page-bottom-nav-prev {

      border-top: 1px solid $color_concrete_grey;
      border-bottom: 1px solid $color_concrete_grey;
      padding: 16px 0;
      padding: 1em 0;

      a {
        color: $color_southsea-blue;
        font-weight: bold;
      }

      .prev-page-title {
        color: $color_metal_grey;
      }
    }


    .category-page-bottom-nav-next {

      border-top: 1px solid $color_concrete_grey;
      border-bottom: 1px solid $color_concrete_grey;
      padding: 16px 0;
      padding: 1em 0;

      a {
        color: $color_southsea-blue;
        font-weight: bold;
      }

      .next-page-title {
        color: $color_metal_grey;
      }
    }

    &.has-prev-page {
      .category-page-bottom-nav-next {
        border-top: none;
      }
    }
  }

  .nhsuk-grid-column-two-thirds.contentleft {
    @include mq($until: tablet) {
      padding: 0;
    }
  }

  .nhsuk-grid-column-one-third {
    @include mq($until: tablet) {
      padding: 0;
    }
  }

  #secondary.widget-area {
    @include mq($until: tablet) {
      margin: 0;
    }
  }
}
