/**********************
    Colours
**********************/

$colour_snow_white_tint: rgba(255,255,255,0.70);
$colour_snow_white_hsl_tint: hsla(0,0%,100%,.2);
$colour_light_grey: #e5e5e5;
$colour_cloudy_grey: #D8DDE0;
$colour_concrete_grey: #B1B4B6;
$colour_metal_grey: #535A5E;
$colour_metal_grey_tint: 	hsl(202,6%,35%,0.5);
$colour_pluto_grey: #34393E;
$colour_charcoal_black: #0B0C0C;
$colour_gold: #DAC777;
$colour_gold_tint: #F8F4E4;
$colour_honey: #FFC773;
$colour_sunflower_yellow: #FFE600;
$colour_flame_orange: #D95619;
$colour_flame_orange_tint: #FBEEE8;
$colour_emerald_green: #096359;
$colour_pine_green: #053429;
$colour_deep_sea_green: #23606B;
$colour_midnight_green: #204D4F;
$colour_jade_green: #03A391;
$colour_jade_green_tint: #E6F6F4;
$colour_capri_teal: #00A499;
$colour_turquoise: #00A19A;
$colour_turquoise_tint: #E6F6F5;
$colour_uranus_teal: #336C83;
$colour_uranus_teal_tint: #EBF0F3;
$colour_sapphire_blue: #2366A3;
$colour_southsea_blue: #1976D2;
$colour_lagoon_blue: #004A97;
$colour_marine_blue: #0D47A1;
$colour_deep_sea_blue: #00346A;
$colour_neptune_blue: #0C223F;
$colour_earth_blue: #143859;
$colour_bluebell_blue: #403DD0;
$colour_lavender: #7E57C2;
$colour_purple: #6D298F;
$colour_venus_purple: #0F0228;
$colour_violet: #592B5E;
$colour_indigo: #4C1566;
$colour_magenta: #B51058;
$colour_magenta_tint: #F8E7EE;

//Old colours:
/*

$color_snow-white: #FFFFFF;
$color_black: #000000;
$color_charcoal-black: #0B0C0C;
$color_metal-grey: #535A5E;
$color_concrete-grey: #B1B4B6;
$color_light-grey: #E8EDEE;
$color_grey-1: #425563;
$color_grey-2: #768692;
$color_grey-3: #aeb7bd;
$color_grey-4: #d8dde0;
$color_grey-5: #f0f4f5;
$color_blue: #005eb8;
$color_southsea-blue: #1976D2;
$color_bright-blue: #0072CE;
$color_marine-blue: #0D47A1;
$color_bluebell-blue: #403DD0;
$color_navy-blue: #003087;
$color_dark-blue: #0C223F;
$color_lavendar-purple: #7E57C2;
$color_yellow: #ffeb3b;
$color_sunflower-yellow: #FFE600;
$color_warm-yellow: #FFB81C;
$color_red: #da291c;
$color_teal: #336C83;
$color_light-teal: #00a19a;
$color_aqua-green: #00a499;
$color_dark-green: #006747;
$color_green: #007F3B;
*/


@import 'planet-uranus-colours';
@import 'planet-neptune-colours';
@import 'planet-pluto-colours';
@import 'page-colours-apply';
