/**********************
		Apply the page colours to each brand
**********************/

$brandings: (
	earth: (
		header-bg: $colour_earth_blue,
		header-link: govuk-colour("white"),
		header-link-current: govuk-colour("white"),
		header-link-hover-border: govuk-colour("white"),
		header-link-focus-underline: $colour_gold,
		header-link-focus-highlight: $colour_gold_tint,
		header-link-focus: $colour_earth_blue,
		header-link-mobile-border: $colour_concrete_grey,
		header-search-input-bg: govuk-colour("white"),
		header-search-input-border: $colour_concrete_grey,
		header-search-input-focus-border: $colour_gold,
		header-search-input-focus-bg: $colour_gold_tint,
		header-search-input-active-border: $colour_gold,
		header-search-input-active-bg: $colour_gold_tint,
		header-search-btn-bg: $colour_sapphire_blue,
		header-search-btn-icon: govuk-colour("white"),
		header-search-btn-hover-bg: $colour_gold,
		header-search-btn-hover-icon: $colour_earth_blue,
		header-search-btn-focus-bg: $colour_gold,
		header-search-btn-focus-icon: $colour_earth_blue,
		mobile-controls: govuk-colour("white"),
		cat-nav-arrows: $colour_charcoal_black,
		title-shading: $colour_gold_tint,
		page-body-bg: $colour_gold_tint,
		footer-border: $colour_earth_blue,
		footer-background: $colour_cloudy_grey,
		footer-link-focus-background: $colour_gold_tint,
		link: $colour_sapphire_blue,
		link-visited: $colour_lavender,
		link-hover: $colour_earth_blue,
		link-focus: $colour_earth_blue,
		link-focus-shadow: $colour_gold,
		link-focus-background: $colour_gold_tint,
		input-bg: govuk-colour("white"),
		input-border: $colour_charcoal_black,
		input-focus: govuk-colour("yellow"),
		button: $colour_sapphire_blue,
		button-text: govuk-colour("white"),
		button-hover: $colour_earth_blue,
		button-hover-text: govuk-colour("white"),
		button-focus: $colour_earth_blue,
		button-focus-text: govuk-colour("white"),
		button-focus-outline: $colour_gold_tint,
		button-active: $colour_earth_blue,
		button-border:none,
		mojblocks-divider: $colour_earth_blue,
		mojblocks-accordion-section-title: $colour_sapphire_blue,
		mojblocks-accordion-section-title-hover: $colour_earth_blue,
		mojblocks-accordion-section-title-focus: $colour_earth_blue,
		mojblocks-accordion-section-title-focus-bg: $colour_gold_tint,
		mojblocks-accordion-section-title-focus-shadow: $colour_gold,
		mojblocks-cta-bg: $colour_gold_tint,
		mojblocks-cta-title: $colour_charcoal_black,
		mojblocks-cta-text: $colour_charcoal_black,
		mojblocks-hero-bg: $colour_gold_tint,
		mojblocks-highlights-list-bg: $colour_gold_tint,
		mojblocks-highlights-list-title: $colour_charcoal_black,
		mojblocks-highlights-list-text: $colour_charcoal_black,
		mojblocks-reveal-title: $colour_sapphire_blue,
		mojblocks-reveal-title-hover: $colour_earth_blue,
		mojblocks-reveal-title-focus: $colour_earth_blue,
		mojblocks-reveal-title-focus-bg: $colour_gold_tint,
		mojblocks-reveal-title-focus-shadow: $colour_gold,
		mojblocks-staggered-box-bg: $colour_gold_tint,
		mojblocks-staggered-box-title: $colour_charcoal_black,
		mojblocks-staggered-box-text: $colour_charcoal_black,
		mojblocks-staggered-box-btn-border: $colour_earth_blue,
		mojblocks-staggered-box-btn-bg: $colour_gold_tint,
		mojblocks-staggered-box-btn-text: $colour_charcoal_black,
		mojblocks-staggered-box-btn-hover-border: $colour_earth_blue,
		mojblocks-staggered-box-btn-hover-bg: $colour_earth_blue,
		mojblocks-staggered-box-btn-hover-text: govuk-colour("white"),
		mojblocks-staggered-box-btn-focus-border: $colour_earth_blue,
		mojblocks-staggered-box-btn-focus-bg: $colour_earth_blue,
		mojblocks-staggered-box-btn-focus-text: govuk-colour("white"),
		cookie-button-bg: $colour_sapphire_blue,
		cookie-button-text: govuk-colour("white"),
		cookie-secondary-button-bg: $colour_gold_tint,
		cookie-secondary-button-text: $colour_sapphire_blue,
		cookie-button-hover-bg: $colour_earth_blue,
		cookie-button-hover-text: govuk-colour("white"),
		cookie-button-focus-bg: $colour_earth_blue,
		cookie-button-focus-border: $colour_turquoise,
		cookie-toggle-bg: $colour_sapphire_blue,
		cookie-toggle-focus-bg: $colour_earth_blue,
		cookie-toggle-text: govuk-colour("white"),
		cookie-settings-hover-bg: $colour_sapphire_blue,
		cookie-settings-hover-text: govuk-colour("white"),
		cookie-settings-focus-bg: $colour_earth_blue,
		cookie-settings-focus-text: govuk-colour("white"),
	),
	neptune: (
		header-bg: $neptune-colour-1,
		header-link: $neptune-colour-2,
		header-link-current: $neptune-colour-2,
		header-link-hover-border: $neptune-colour-2,
		header-link-focus-underline: $neptune-colour-3,
		header-link-focus-highlight: $neptune-colour-4,
		header-link-focus: $neptune-colour-1,
		header-link-mobile-border: $neptune-colour-5,
		header-search-input-bg: $neptune-colour-2,
		header-search-input-border: $neptune-colour-5,
		header-search-input-focus-border: $neptune-colour-3,
		header-search-input-focus-bg: $neptune-colour-4,
		header-search-input-active-border: $neptune-colour-3,
		header-search-input-active-bg: $neptune-colour-4,
		header-search-btn-bg: $neptune-colour-6,
		header-search-btn-icon: $neptune-colour-2,
		header-search-btn-hover-bg: $neptune-colour-7,
		header-search-btn-hover-icon: $neptune-colour-2,
		header-search-btn-focus-bg: $neptune-colour-8,
		header-search-btn-focus-icon: $neptune-colour-2,
		mobile-controls: $neptune-colour-2,
		cat-nav-arrows: $neptune-colour-3,
		title-shading: $neptune-colour-4,
		page-body-bg: $neptune-colour-4,
		footer-border: $neptune-colour-1,
		footer-background: $neptune-colour-9,
		footer-link-focus-background: $neptune-colour-4,
		link: $neptune-colour-6,
		link-visited: $neptune-colour-A,
		link-hover: $neptune-colour-8,
		link-focus: $neptune-colour-8,
		link-focus-shadow: $neptune-colour-3,
		link-focus-background: $neptune-colour-4,
		input-bg: $neptune-colour-2,
		input-border: $neptune-colour-B,
		input-focus: $neptune-colour-3,
		button: $neptune-colour-6,
		button-text: $neptune-colour-2,
		button-hover: $neptune-colour-8,
		button-hover-text: $neptune-colour-2,
		button-focus: $neptune-colour-8,
		button-focus-text: $neptune-colour-2,
		button-focus-outline: $neptune-colour-3,
		button-active: $neptune-colour-C,
		button-border:none,
		mojblocks-divider: $neptune-colour-1,
		mojblocks-accordion-section-title: $neptune-colour-6,
		mojblocks-accordion-section-title-hover: $neptune-colour-8,
		mojblocks-accordion-section-title-focus: $neptune-colour-8,
		mojblocks-accordion-section-title-focus-bg: $neptune-colour-4,
		mojblocks-accordion-section-title-focus-shadow: $neptune-colour-3,
		mojblocks-cta-bg: $neptune-colour-4,
		mojblocks-cta-title: $neptune-colour-B,
		mojblocks-cta-text: $neptune-colour-B,
		mojblocks-hero-bg: $neptune-colour-4,
		mojblocks-highlights-list-bg: $neptune-colour-4,
		mojblocks-highlights-list-title: $neptune-colour-B,
		mojblocks-highlights-list-text: $neptune-colour-B,
		mojblocks-reveal-title: $neptune-colour-6,
		mojblocks-reveal-title-hover: $neptune-colour-8,
		mojblocks-reveal-title-focus: $neptune-colour-8,
		mojblocks-reveal-title-focus-bg: $neptune-colour-4,
		mojblocks-reveal-title-focus-shadow: $neptune-colour-3,
		mojblocks-staggered-box-bg: $neptune-colour-4,
		mojblocks-staggered-box-title: $neptune-colour-B,
		mojblocks-staggered-box-text: $neptune-colour-B,
		mojblocks-staggered-box-btn-border: $neptune-colour-6,
		mojblocks-staggered-box-btn-bg: $neptune-colour-4,
		mojblocks-staggered-box-btn-text: $neptune-colour-B,
		mojblocks-staggered-box-btn-hover-border: $neptune-colour-8,
		mojblocks-staggered-box-btn-hover-bg: $neptune-colour-8,
		mojblocks-staggered-box-btn-hover-text: $neptune-colour-2,
		mojblocks-staggered-box-btn-focus-border: $neptune-colour-3,
		mojblocks-staggered-box-btn-focus-bg: $neptune-colour-8,
		mojblocks-staggered-box-btn-focus-text: $neptune-colour-2,
		cookie-button-bg: $neptune-colour-6,
		cookie-button-text: $neptune-colour-2,
		cookie-secondary-button-bg: $neptune-colour-4,
		cookie-secondary-button-text: $neptune-colour-6,
		cookie-button-hover-bg: $neptune-colour-8,
		cookie-button-hover-text: $neptune-colour-2,
		cookie-button-focus-bg: $neptune-colour-8,
		cookie-button-focus-border: $neptune-colour-3,
		cookie-toggle-bg: $neptune-colour-6,
		cookie-toggle-focus-bg: $neptune-colour-8,
		cookie-toggle-text: $neptune-colour-2,
		cookie-settings-hover-bg: $neptune-colour-6,
		cookie-settings-hover-text: $neptune-colour-2,
		cookie-settings-focus-bg: $neptune-colour-8,
		cookie-settings-focus-text: $neptune-colour-2,
	),
	uranus: (
		header-bg: $uranus-colour-1,
		header-link: $uranus-colour-2,
		header-link-current: $uranus-colour-2,
		header-link-hover-border: $uranus-colour-2,
		header-link-focus-underline: $uranus-colour-3,
		header-link-focus-highlight: $uranus-colour-4,
		header-link-focus: $uranus-colour-B,
		header-link-mobile-border: $uranus-colour-5,
		header-search-input-bg: $uranus-colour-2,
		header-search-input-border: $uranus-colour-5,
		header-search-input-focus-bg: $uranus-colour-4,
		header-search-input-focus-border: $uranus-colour-3,
		header-search-input-active-bg: $uranus-colour-4,
		header-search-input-active-border: $uranus-colour-3,
		header-search-btn-bg: $uranus-colour-3,
		header-search-btn-icon: $uranus-colour-B,
		header-search-btn-hover-bg: $uranus-colour-B,
		header-search-btn-hover-icon: $uranus-colour-2,
		header-search-btn-focus-bg: $uranus-colour-B,
		header-search-btn-focus-icon: $uranus-colour-2,
		mobile-controls: $uranus-colour-2,
		cat-nav-arrows: $uranus-colour-B,
		title-shading: $uranus-colour-4,
		page-body-bg: $uranus-colour-4,
		footer-link-focus-background: $uranus-colour-6,
		footer-background: $uranus-colour-7,
		footer-border: $uranus-colour-1,
		link: $uranus-colour-9,
		link-visited: $uranus-colour-8,
		link-hover: $uranus-colour-A,
		link-focus: $uranus-colour-B,
		link-focus-shadow: $uranus-colour-B,
		link-focus-background: $uranus-colour-3,
		input-bg: $uranus-colour-2,
		input-border: $uranus-colour-B,
		input-focus: $uranus-colour-3,
		button: $uranus-colour-3,
		button-text: $uranus-colour-B,
		button-hover: $uranus-colour-B,
		button-hover-text: $uranus-colour-2,
		button-focus: $uranus-colour-B,
		button-focus-text: $uranus-colour-2,
		button-focus-outline: $uranus-colour-3,
		button-active: $uranus-colour-B,
		button-border:none,
		mojblocks-divider: $uranus-colour-3,
		mojblocks-accordion-section-title: $uranus-colour-9,
		mojblocks-accordion-section-title-hover: $uranus-colour-A,
		mojblocks-accordion-section-title-focus: $uranus-colour-B,
		mojblocks-accordion-section-title-focus-bg: $uranus-colour-3,
		mojblocks-accordion-section-title-focus-shadow: $uranus-colour-B,
		mojblocks-accordion-controls: $uranus-colour-9,
		mojblocks-accordion-controls-hover: $uranus-colour-A,
		mojblocks-cta-bg: $uranus-colour-1,
		mojblocks-cta-title: $uranus-colour-3,
		mojblocks-cta-text: $uranus-colour-2,
		mojblocks-hero-bg: $uranus-colour-4,
		mojblocks-highlights-list-bg: $uranus-colour-1,
		mojblocks-highlights-list-title: $uranus-colour-3,
		mojblocks-highlights-list-text: $uranus-colour-2,
		mojblocks-reveal-title: $uranus-colour-9,
		mojblocks-reveal-title-hover: $uranus-colour-A,
		mojblocks-reveal-title-focus: $uranus-colour-B,
		mojblocks-reveal-title-focus-bg: $uranus-colour-3,
		mojblocks-reveal-title-focus-shadow: $uranus-colour-B,
		mojblocks-staggered-box-bg: $uranus-colour-C,
		mojblocks-staggered-box-title: $uranus-colour-2,
		mojblocks-staggered-box-text: $uranus-colour-2,
		mojblocks-staggered-box-btn-border: $uranus-colour-3,
		mojblocks-staggered-box-btn-bg: $uranus-colour-C,
		mojblocks-staggered-box-btn-text: $uranus-colour-2,
		mojblocks-staggered-box-btn-hover-border: $uranus-colour-3,
		mojblocks-staggered-box-btn-hover-bg: $uranus-colour-3,
		mojblocks-staggered-box-btn-hover-text: $uranus-colour-B,
		mojblocks-staggered-box-btn-focus-border: $uranus-colour-1,
		mojblocks-staggered-box-btn-focus-bg: $uranus-colour-3,
		mojblocks-staggered-box-btn-focus-text: $uranus-colour-B,
		cookie-button-bg: $uranus-colour-3,
		cookie-button-text: $uranus-colour-B,
		cookie-secondary-button-bg: $uranus-colour-2,
		cookie-secondary-button-text: $uranus-colour-B,
		cookie-button-hover-bg: $uranus-colour-B,
		cookie-button-hover-text: $uranus-colour-2,
		cookie-button-focus-bg: $uranus-colour-B,
		cookie-button-focus-border: $uranus-colour-3,
		cookie-toggle-bg: $uranus-colour-B,
		cookie-toggle-focus-bg: $uranus-colour-B,
		cookie-toggle-text: $uranus-colour-2,
		cookie-settings-hover-bg: $uranus-colour-3,
		cookie-settings-hover-text: $uranus-colour-B,
		cookie-settings-focus-bg: $uranus-colour-B,
		cookie-settings-focus-text: $uranus-colour-2,
	),
	pluto: (
		header-bg: $pluto-colour-2,
		header-link: $pluto-colour-1,
		header-link-current: $pluto-colour-1,
		header-link-hover-border: $pluto-colour-3,
		header-link-focus-underline: $pluto-colour-3,
		header-link-focus-highlight: $pluto-colour-4,
		header-link-focus: $pluto-colour-1,
		header-link-mobile-border: $pluto-colour-5,
		header-search-input-bg: $pluto-colour-2,
		header-search-input-border: $pluto-colour-5,
		header-search-input-focus-bg: $pluto-colour-4,
		header-search-input-focus-border: $pluto-colour-3,
		header-search-input-active-bg: $pluto-colour-4,
		header-search-input-active-border: $pluto-colour-3,
		header-search-btn-bg: $pluto-colour-7,
		header-search-btn-icon: $pluto-colour-2,
		header-search-btn-hover-bg: $pluto-colour-6,
		header-search-btn-hover-icon: $pluto-colour-2,
		header-search-btn-focus-bg: $pluto-colour-6,
		header-search-btn-focus-icon: $pluto-colour-2,
		mobile-controls: $pluto-colour-1,
		page-body-bg: $pluto-colour-4,
		title-shading: $pluto-colour-4,
		cat-nav-arrows: $pluto-colour-3,
		footer-border: $pluto-colour-1,
		footer-background: $pluto-colour-8,
		footer-link-focus-background: $pluto-colour-4,
		link: $pluto-colour-7,
		link-visited: $pluto-colour-9,
		link-hover: $pluto-colour-6,
		link-focus: $pluto-colour-6,
		link-focus-shadow: $pluto-colour-3,
		link-focus-background: $pluto-colour-4,
		input-bg: $pluto-colour-2,
		input-border: $pluto-colour-A,
		input-focus: $pluto-colour-3,
		button: $pluto-colour-7,
		button-hover:$pluto-colour-6,
		button-focus:$pluto-colour-6,
		button-focus-text: $pluto-colour-2,
		button-focus-outline: $pluto-colour-3,
		button-active:$pluto-colour-6,
		button-text:$pluto-colour-2,
		button-hover-text:$pluto-colour-2,
		button-border:none,
		mojblocks-divider: $pluto-colour-3,
		mojblocks-accordion-section-title: $pluto-colour-7,
		mojblocks-accordion-section-title-hover: $pluto-colour-6,
		mojblocks-accordion-section-title-focus: $pluto-colour-6,
		mojblocks-accordion-section-title-focus-bg: $pluto-colour-4,
		mojblocks-accordion-section-title-focus-shadow: $pluto-colour-3,
		mojblocks-accordion-controls: $pluto-colour-7,
		mojblocks-accordion-controls-hover: $pluto-colour-6,
		mojblocks-cta-bg: $pluto-colour-4,
		mojblocks-cta-title: $pluto-colour-A,
		mojblocks-cta-text: $pluto-colour-A,
		mojblocks-hero-bg: $pluto-colour-4,
		mojblocks-highlights-list-bg: $pluto-colour-4,
		mojblocks-highlights-list-title: $pluto-colour-A,
		mojblocks-highlights-list-text: $pluto-colour-A,
		mojblocks-reveal-title: $pluto-colour-7,
		mojblocks-reveal-title-hover: $pluto-colour-6,
		mojblocks-reveal-title-focus: $pluto-colour-6,
		mojblocks-reveal-title-focus-bg: $pluto-colour-4,
		mojblocks-reveal-title-focus-shadow: $pluto-colour-3,
		mojblocks-staggered-box-bg: $pluto-colour-4,
		mojblocks-staggered-box-title: $pluto-colour-A,
		mojblocks-staggered-box-text: $pluto-colour-A,
		mojblocks-staggered-box-btn-border: $pluto-colour-3,
		mojblocks-staggered-box-btn-bg: $pluto-colour-4,
		mojblocks-staggered-box-btn-text: $pluto-colour-A,
		mojblocks-staggered-box-btn-hover-border: $pluto-colour-3,
		mojblocks-staggered-box-btn-hover-bg: $pluto-colour-3,
		mojblocks-staggered-box-btn-hover-text: $pluto-colour-A,
		mojblocks-staggered-box-btn-focus-border: $pluto-colour-A,
		mojblocks-staggered-box-btn-focus-bg: $pluto-colour-3,
		mojblocks-staggered-box-btn-focus-text: $pluto-colour-A,
		cookie-button-bg: $pluto-colour-7,
		cookie-button-text: $pluto-colour-2,
		cookie-secondary-button-bg: $pluto-colour-4,
		cookie-secondary-button-text: $pluto-colour-7,
		cookie-button-hover-bg: $pluto-colour-6,
		cookie-button-hover-text: $pluto-colour-2,
		cookie-button-focus-bg: $pluto-colour-6,
		cookie-button-focus-border: $pluto-colour-3,
		cookie-toggle-bg: $pluto-colour-7,
		cookie-toggle-focus-bg: $pluto-colour-6,
		cookie-toggle-text: $pluto-colour-2,
		cookie-settings-hover-bg: $pluto-colour-7,
		cookie-settings-hover-text: $pluto-colour-2,
		cookie-settings-focus-bg: $pluto-colour-6,
		cookie-settings-focus-text: $pluto-colour-2,
	),
	venus: (
		header-bg: $colour_venus_purple,
		header-link: govuk-colour("white"),
		header-link-current: govuk-colour("white"),
		header-link-hover-border: govuk-colour("white"),
		header-link-focus-underline: $colour_magenta,
		header-link-focus-highlight: $colour_magenta_tint,
		header-link-focus: $colour_venus_purple,
		header-link-mobile-border: $colour_concrete_grey,
		header-search-input-bg: govuk-colour("white"),
		header-search-input-border: $colour_concrete_grey,
		header-search-input-focus-bg: $colour_magenta_tint,
		header-search-input-focus-border: $colour_magenta,
		header-search-input-active-bg: $colour_magenta_tint,
		header-search-input-active-border: $colour_magenta,
		header-search-btn-bg: $colour_magenta,
		header-search-btn-icon: govuk-colour("white"),
		header-search-btn-hover-bg: $colour_indigo,
		header-search-btn-hover-icon: govuk-colour("white"),
		header-search-btn-focus-bg: $colour_indigo,
		header-search-btn-focus-icon: govuk-colour("white"),
		mobile-controls: govuk-colour("white"),
		page-body-bg: $colour_magenta_tint,
		title-shading: $colour_magenta_tint,
		cat-nav-arrows: $colour_venus_purple,
		footer-border: $colour_venus_purple,
		footer-background: $colour_cloudy_grey,
		footer-link-focus-background: $colour_magenta_tint,
		link: $colour_magenta,
		link-visited: $colour_lavender,
		link-hover: $colour_indigo,
		link-focus: $colour_indigo,
		link-focus-shadow: $colour_magenta,
		link-focus-background: $colour_magenta_tint,
		input-bg: govuk-colour("white"),
		input-border: $colour_charcoal_black,
		input-focus: $colour_magenta,
		button: $colour_magenta,
		button-hover:$colour_indigo,
		button-focus:$colour_indigo,
		button-focus-text: govuk-colour("white"),
		button-focus-outline: $colour_magenta,
		button-active:$colour_indigo,
		button-text:govuk-colour("white"),
		button-hover-text:govuk-colour("white"),
		button-border:none,
		mojblocks-divider: $colour_magenta,
		mojblocks-accordion-section-title: $colour_magenta,
		mojblocks-accordion-section-title-hover: $colour_indigo,
		mojblocks-accordion-section-title-focus: $colour_indigo,
		mojblocks-accordion-section-title-focus-bg: $colour_magenta_tint,
		mojblocks-accordion-section-title-focus-shadow: $colour_magenta,
		mojblocks-accordion-controls: $colour_magenta,
		mojblocks-accordion-controls-hover: $colour_indigo,
		mojblocks-cta-bg: $colour_magenta_tint,
		mojblocks-cta-title: $colour_charcoal_black,
		mojblocks-cta-text: $colour_charcoal_black,
		mojblocks-hero-bg: $colour_magenta_tint,
		mojblocks-highlights-list-bg: $colour_magenta_tint,
		mojblocks-highlights-list-title: $colour_charcoal_black,
		mojblocks-highlights-list-text: $colour_charcoal_black,
		mojblocks-reveal-title: $colour_magenta,
		mojblocks-reveal-title-hover: $colour_indigo,
		mojblocks-reveal-title-focus: $colour_indigo,
		mojblocks-reveal-title-focus-bg: $colour_magenta_tint,
		mojblocks-reveal-title-focus-shadow: $colour_magenta,
		mojblocks-staggered-box-bg: $colour_magenta_tint,
		mojblocks-staggered-box-title: $colour_charcoal_black,
		mojblocks-staggered-box-text: $colour_charcoal_black,
		mojblocks-staggered-box-btn-border: $colour_magenta,
		mojblocks-staggered-box-btn-bg: $colour_magenta_tint,
		mojblocks-staggered-box-btn-text: $colour_charcoal_black,
		mojblocks-staggered-box-btn-hover-border: $colour_indigo,
		mojblocks-staggered-box-btn-hover-bg: $colour_indigo,
		mojblocks-staggered-box-btn-hover-text: govuk-colour("white"),
		mojblocks-staggered-box-btn-focus-border: $colour_indigo,
		mojblocks-staggered-box-btn-focus-bg: $colour_indigo,
		mojblocks-staggered-box-btn-focus-text: govuk-colour("white"),
		cookie-button-bg: $colour_magenta,
		cookie-button-text: govuk-colour("white"),
		cookie-secondary-button-bg: $colour_magenta_tint,
		cookie-secondary-button-text: $colour_magenta,
		cookie-button-hover-bg: $colour_indigo,
		cookie-button-hover-text: govuk-colour("white"),
		cookie-button-focus-bg: $colour_indigo,
		cookie-button-focus-border: $colour_magenta,
		cookie-toggle-bg: $colour_magenta,
		cookie-toggle-focus-bg: $colour_indigo,
		cookie-toggle-text: govuk-colour("white"),
		cookie-settings-hover-bg: $colour_magenta,
		cookie-settings-hover-text: govuk-colour("white"),
		cookie-settings-focus-bg: $colour_indigo,
		cookie-settings-focus-text: govuk-colour("white"),
	)
);

@mixin branding($brandings: $brandings, $gutenberg-styles: false) {
	@each $brand, $map in $brandings {

		@if $gutenberg-styles {
			.hale-branding--#{$brand} .edit-post-visual-editor {
				$branding-map: () !global;
				@each $key, $submap in $map {
					$value: map-get(map-get($brandings, $brand), '#{$key}');
					$branding-map: map-merge($branding-map, ($key: $value)) !global;
				}

				@content;
				$branding-map: null !global;
			}
		}
		@else {
			.hale-branding--#{$brand} {
				$branding-map: () !global;
				@each $key, $submap in $map {
					$value: map-get(map-get($brandings, $brand), '#{$key}');
					$branding-map: map-merge($branding-map, ($key: $value)) !global;
				}

				@content;
				$branding-map: null !global;
			}
		}

	}
}

@function branded($key) {
	@return map-get($branding-map, $key);
}
