$neptune-colour-1: $colour_neptune_blue;
$neptune-colour-2: govuk-colour("white");
$neptune-colour-3: $colour_turquoise;
$neptune-colour-4: $colour_turquoise_tint;
$neptune-colour-5: $colour_concrete_grey;
$neptune-colour-6: $colour_lagoon_blue;
$neptune-colour-7: $colour_southsea_blue;
$neptune-colour-8: $colour_deep_sea_blue;
$neptune-colour-9: $colour_cloudy_grey;
$neptune-colour-A: $colour_violet;
$neptune-colour-B: govuk-colour("black");
$neptune-colour-C: $colour_bluebell_blue;
