$uranus-colour-1: $colour_uranus_teal;
$uranus-colour-2: govuk-colour("white");
$uranus-colour-3: $colour_sunflower_yellow;
$uranus-colour-4: $colour_uranus_teal_tint;
$uranus-colour-5: $colour_concrete_grey;
$uranus-colour-6: govuk-colour("yellow");
$uranus-colour-7: $colour_cloudy_grey;
$uranus-colour-8: $colour_lavender;
$uranus-colour-9: $colour_southsea_blue;
$uranus-colour-A: $colour_marine_blue;
$uranus-colour-B: govuk-colour("black");
$uranus-colour-C: $colour_metal_grey;
