$pluto-colour-1: $colour_pluto_grey;
$pluto-colour-2: govuk-colour("white");
$pluto-colour-3: $colour_flame_orange;
$pluto-colour-4: $colour_flame_orange_tint;
$pluto-colour-5: $colour_concrete_grey;
$pluto-colour-6: $colour_indigo;
$pluto-colour-7: $colour_purple;
$pluto-colour-8: $colour_cloudy_grey;
$pluto-colour-9: $colour_lavender;
$pluto-colour-A: govuk-colour("black");
