/**
 * This file is for printing styles only, it removes elements which aren't
 * meant to be printed and will change colours so ink isn't wasted.  
 *
 * Note that some of these things are dealt with by GDS styles.
 */

@include govuk-media-query($media-type: print) {
	.hale-header__search,
	.hale-header__topnav {
		display: none;
	}
	* .govuk-header.hale-header {
		background-color:#FFF;

		.hale-header__logo--custom {
			
			background-color: red;
			box-shadow: 0px 0px 4px 8px var(--header-bg);
			print-color-adjust: exact !important;
			-webkit-print-color-adjust: exact !important
		}
	}
}
