.search {
  &__results-list {
    color: $color_metal-grey;
    border-top: 1px solid $color_concrete-grey;

    & .nhsuk-promo {
      margin-bottom: 0;
      border-bottom: 1px solid $color_concrete-grey;
    }

    & .nhsuk-promo__description {
      margin-bottom: 0;
      color: $color_metal-grey;
    }

    & h2.nhsuk-promo__heading {
      margin-top: 24px;
      text-decoration: none;
      color: $color_southsea-blue;
    }

    & .nhsuk-promo__link-wrapper {
      box-shadow: none;
    }

    & .nhsuk-promo__link-wrapper {
      border-bottom: 4px solid transparent;

      &:hover {
        color: #0D47A1;
        -webkit-text-fill-color: #0D47A1;
        background-color: transparent;
        text-decoration: underline;
      }

      &:focus {
        color: #0D47A1;
        background: #0090B8;
        border-bottom: 4px solid #0090B8;
        background: #d9eef4;
        box-shadow: none;
        text-decoration: none;
      }

      &:active {
        color: #403DD0;
        border-bottom: 4px solid #0090B8;
        background: #d9eef4;
        text-decoration: none;
        top: 0;
      }

      &:visited h2 {
        color: #7E57C2;
      }
    }
  }

  &__result-updated {
    margin: 16px 0;
    color: $color_metal-grey;
  }

  &__pagination-text {
    text-align: center;
  }

  &__pagination-arrow {
    vertical-align: text-top;
  }

  &__pagination-button-text {
    display: inline-block;

    @include mq($until: tablet) {
      -webkit-clip-path: inset(50%);
      border: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
  }

  &__pagination-button {
    & a {
      font-family: inherit;
      background-color: #e8f1fb;
      color: $color_southsea-blue;
      border: 1px solid $color_southsea-blue;
      border-radius: 4px;
      font-weight: 600;
      box-shadow: none;
      padding: 9px 17px;
      fill: $color_southsea-blue;
      display: inline-block;
      text-decoration: none;

      &:focus, &:hover {
        color: $color_snow-white  ;
        -webkit-text-fill-color: $color_snow-white;
        background-color: $color_marine-blue;
        fill: $color_snow-white;
        border: 1px solid $color_marine-blue;
      }

      &:focus, &:active {
          box-shadow:
          0 0 0 2px $color_snow-white,
          0 0 0 4px #00A0CC;
      }

      &:active {
          background-color:#403DD0;
      }

      &:focus path, &:active path, &:hover path {
        fill: $color_snow-white;
      }
    }

    &--previous a {
      float: left;
    }

    &--next a {
      float: right;
    }
  }
}

body.search.search-results div.nhsuk-header__search--results-page div.nhsuk-header__search-wrap#wrap-search {
  padding: 0;
}
