/**********************
  Uranus branding
    Magistrates
**********************/
.hale-branding--uranus {
	//header colour.
	.govuk-header {
		padding-bottom: 1em;

		.hale-header__logotype-text--custom {
			font-weight: 400;
			font-size: 22px;
			padding-left: 0.5em;
			position: relative;
			top: -0.2em;
		}
	}

	.govuk-button {
		border-radius: 4px;
		border-width: 0;
	}

	.govuk-footer__inline-list-item {
		display: block;
		@include govuk-media-query($from: tablet) {
			display: inline-block;
		}
	}
}

/**********************
  Unused - example of gov styling with minor change
**********************/
.hale-branding--eris {
	.govuk-header__container {
		border-bottom-color: #FD0;
	}
}

/**********************
    Neptune branding
          IMA
**********************/
.hale-branding--neptune {

	.govuk-skip-link:focus {
		outline-color: $colour_capri_teal;
	}

  .govuk-header .govuk-header__logo {
    min-height: 49px;
  }

	.govuk-breadcrumbs__link,
	.govuk-back-link {
		@extend .govuk-link;
		
		&:focus {
			background-color: $colour_turquoise_tint;
			box-shadow: 0 -2px $colour_turquoise_tint, 0 4px $colour_turquoise;
			outline: 4px solid transparent;
		}
	}

	.hale-search-header + div {
		margin-top: 30px;
	}


	.govuk-footer__inline-list-item {
		display: block;
		@include govuk-media-query($from: tablet) {
			display: inline-block;
		}
	}
}
