/**********************
    Uranus branding
    Magistrates
**********************/
.hale-branding--uranus {
  //header colour.
  .govuk-header {
    padding-bottom: 1em;

    .hale-header__logotype-text--custom {
      font-weight: 400;
      font-size: 22px;
      padding-left: 0.5em;
      position: relative;
      top: -0.2em;
    }
  }

  .govuk-button {
    border-radius: 4px;
		border-width:0;
  }
}

/**********************
		Unused - example of gov styling with minor change
**********************/
.hale-branding--eris {
  .govuk-header__container {
    border-bottom-color: #FD0;
  }
}

/**********************
    Neptune branding
    IMA
**********************/
.hale-branding--neptune {

	.govuk-skip-link:focus {
		outline-color: $hale-neptune-header-focus-colour;
	}

	.govuk-button {
		border-radius: 4px;
	}

	.govuk-header__menu-button {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.857 3.844h22.286A.856.856 0 0024 2.99V.854A.856.856 0 0023.143 0H.857A.856.856 0 000 .854V2.99c0 .472.384.854.857.854zm0 8.543h22.286a.856.856 0 00.857-.854V9.397a.856.856 0 00-.857-.854H.857A.856.856 0 000 9.397v2.136c0 .472.384.854.857.854zm0 8.543h22.286a.856.856 0 00.857-.854V17.94a.856.856 0 00-.857-.854H.857A.856.856 0 000 17.94v2.136c0 .472.384.854.857.854z' fill='%23fff'/%3E%3C/svg%3E");
		background-position-x: center;
		background-position-y: 2px;
		background-repeat: no-repeat;
		padding-top: 25px;
		cursor: pointer;

		&:after {
			display:none;
		}
		&[aria-expanded=true] {
			background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath d='M13.41 12l5.3-5.29a1 1 0 10-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 00-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 000 1.42 1 1 0 001.42 0l5.29-5.3 5.29 5.3a1 1 0 001.42 0 1 1 0 000-1.42z' fill='%23fff'/%3E%3C/svg%3E");
			&:focus:not(:hover) {
				background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath d='M13.41 12l5.3-5.29a1 1 0 10-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 00-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 000 1.42 1 1 0 001.42 0l5.29-5.3 5.29 5.3a1 1 0 001.42 0 1 1 0 000-1.42z' fill='%230c223f'/%3E%3C/svg%3E");
			}
		}
		&:focus:not(:hover) {
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.857 3.844h22.286A.856.856 0 0024 2.99V.854A.856.856 0 0023.143 0H.857A.856.856 0 000 .854V2.99c0 .472.384.854.857.854zm0 8.543h22.286a.856.856 0 00.857-.854V9.397a.856.856 0 00-.857-.854H.857A.856.856 0 000 9.397v2.136c0 .472.384.854.857.854zm0 8.543h22.286a.856.856 0 00.857-.854V17.94a.856.856 0 00-.857-.854H.857A.856.856 0 000 17.94v2.136c0 .472.384.854.857.854z' fill='%230c223f'/%3E%3C/svg%3E");
		}
		
	}

	.govuk-breadcrumbs__link {
		@extend .govuk-link;
		
		&:focus {
			background-color: $hale-neptune-focus-shading;
			box-shadow: 0 -2px $hale-neptune-focus-shading, 0 4px $hale-neptune-focus-colour;
			outline: 4px solid transparent;
		}
	}

	.govuk-breadcrumbs {
		padding: 0.7em 0;
	}

  //light blue shading for page title
  .hale-heading--top,
	article>h1 {
		position:relative;
    padding:0.2em 0;

    +*:not(ul) {
			margin-top:77px;
		}
		
		+ul {
			position:relative;
		}
		
    &:before,
    +ul:before {
      @extend .hale-shaded; // gets the shading colour
			position: absolute;
			content: "";
			left: 50%;
			width: 200vw;
			height: calc(100% + 0.6em);
			z-index: -1;
			display: block;
			overflow: visible;
			transform: translate(-50%, -0.3em);
		}
  }
	ul.hale-list--top{
		list-style: none;
		padding-bottom: 1em;

		li {
			margin: 0.5em 0;
			background-repeat: no-repeat;
			background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .375C18.422.375 23.625 5.578 23.625 12S18.422 23.625 12 23.625.375 18.422.375 12 5.578.375 12 .375zm5.34 10.828l-6.352-6.351a1.12 1.12 0 00-1.59 0l-.796.796a1.12 1.12 0 000 1.59L13.364 12l-4.762 4.762a1.12 1.12 0 000 1.59l.796.796a1.12 1.12 0 001.59 0l6.351-6.351c.44-.44.44-1.153 0-1.594z' fill='%2300a19a'/%3E%3C/svg%3E");
			padding-left: 35px;
			
			&.current_page {
				font-weight:700;
			}
			
			a:not(:hover) {
				text-decoration:none;
			}
		}
	} 
	
	//adjust the gem (government publishing component) navigation
	.gem-c-pagination__item {
	
		.gem-c-pagination__link{
			background-repeat: no-repeat;
			background-position-y: center;

			.gem-c-pagination__link-title {
				padding-left:30px; 
			}
			.gem-c-pagination__link-label {
				padding-left:10px; 
			}
		}
		
		&.gem-c-pagination__item--next .gem-c-pagination__link {
			background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 .438c7.492 0 13.563 6.07 13.563 13.562 0 7.492-6.07 13.563-13.563 13.563C6.508 27.563.437 21.492.437 14 .438 6.508 6.508.437 14 .437zm6.229 12.632l-7.41-7.41a1.307 1.307 0 00-1.854 0l-.93.93a1.307 1.307 0 000 1.854L15.591 14l-5.556 5.556a1.307 1.307 0 000 1.854l.93.93a1.307 1.307 0 001.854 0l7.41-7.41a1.314 1.314 0 000-1.86z' fill='%2300A19A'/%3E%3C/svg%3E")
		}		
		&.gem-c-pagination__item--previous .gem-c-pagination__link {
			background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 27.563C6.508 27.563.437 21.492.437 14 .438 6.508 6.508.437 14 .437c7.492 0 13.563 6.07 13.563 13.563 0 7.492-6.07 13.563-13.563 13.563zM7.771 14.93l7.41 7.41a1.307 1.307 0 001.854 0l.93-.93a1.307 1.307 0 000-1.854L12.409 14l5.556-5.556a1.307 1.307 0 000-1.854l-.93-.93a1.307 1.307 0 00-1.854 0l-7.41 7.41a1.314 1.314 0 000 1.86z' fill='%2300a19a'/%3E%3C/svg%3E")
		}
		
		.gem-c-pagination__link-icon {
			display:none;
		}
	}

	//header
  .govuk-header {
		
		.govuk-header__link:focus {
			background-color: $hale-neptune-header-focus-colour;
		}
		.govuk-header__navigation {
			border-top: 1px solid $hale-neptune-top-border-colour;
		}
    .govuk-header__content {
      width:100%;
      min-height: 15px;
      .govuk-header__navigation a:link {
        display:inline-block;
        font-weight: 400;
      }
      //header arrangement
      li.current-menu-item a:link,
      .govuk-header__menu-button,
      a:link {
        border-bottom-width: 4px;
				border-bottom-style: solid;
        text-decoration: none;
        box-shadow: none;
				&:not(:hover) {
					border-bottom-color:transparent;
					&:focus {
						border-bottom-color:$hale-neptune-header-focus-colour;
					}
				}
        &:hover {
					border-bottom-color:govuk-colour("white");
          background-color: unset;
        }
				&:focus:not(:active):not(:hover),
				&:focus {
					box-shadow:none;
				}
      }
    }
  }

  .hale-header .hale-header__search-form {
		margin-right:66px;
		width: calc(100% - 44px);
    @include govuk-media-query($from: tablet) {
      //space for menu button
			width: calc(15rem + 44px);
      margin-left:auto;
			position:relative;
			top: -37px;
    }
    @include govuk-media-query($from: desktop) {
			top: 0;
      margin-left:auto;
      margin-right:0;
    }

    .hale-search__input {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;

      +.govuk-button.hale-search__submit {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
				box-shadow: 0 1px 0 $hale-neptune-button;
				&:focus {
					box-shadow: 0 1px 0 $hale-neptune-focus-colour;
				}
      }
      &:focus {
        outline-width: 3px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;

        +.hale-search__submit {
          border-radius: 0;
        }
      }
    }
  }
}
