@import url(https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap);
@import 'node_modules/nhsuk-frontend/packages/core/tools/all';

$pt-sans: 'PT Sans', sans-serif;
$fonts: (
        'pt-sans' : $pt-sans
);

@each $name, $font in $fonts {

  .primary-font-admin--#{$name} {

    .edit-post-visual-editor .block-editor-block-list__block , .block-editor-block-styles .block-editor-block-list__block  {
      font-family: $font;

      //GovUK Font Override
      .govuk-body,
      .govuk-details,
      .govuk-accordion__open-all,
      .govuk-accordion__section-heading,
      .govuk-accordion__section-button {
        font-family: $font;
      }
    }
  }
}

//PT Sans Specific font sizes - Font size may something we want to add to customizer
.primary-font-admin--pt-sans {
  .edit-post-visual-editor .block-editor-block-list__block , .block-editor-block-styles .block-editor-block-list__block {
    font-size: 100%;
    @import 'fontstyles/pt-sans';
  }


}

