@import url(https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap);

$pt-sans: 'PT Sans', sans-serif;
$fonts: (
        'pt-sans' : $pt-sans
);

@each $name, $font in $fonts {
  .primary-font--#{$name} {
    font-family: $font;

    //GovUK Font Override
    .govuk-body,
    .govuk-details,
    .govuk-accordion__open-all,
    .govuk-accordion__section-heading,
    .govuk-accordion__section-button {
      font-family: $font;
    }
  }
}

//PT Sans Specific font sizes - Font size maybe something we want to add to customizer
.primary-font--pt-sans {
  font-size: 100%;
  
  @import 'fontstyles/pt-sans';
}

//Readable Text Length

.page .entry-content {
  & > p,
  & > h1,
  & > h2,
  & > h3,
  & > h4 {
    @include mq($from: tablet) {
      max-width: 75%;
    }
  }
}
